<div class="main">
    <div class="sidebar">
        <ul class="sidebar__list">
            <li class="sidebar__item"><i class="fa-solid fa-comment"></i></li>
            <li class="sidebar__item"><i class="fa-solid fa-user-group"></i></li>
        </ul>
        <div class="sidebar__bottom">
            <div class="avatar">
                <img src="assets/image/member-2.png" alt="">
            </div>
            <div class="logout-btn">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
    </div>
    <div class="content grid">
        <div class="row no-gutters">
            <div class="col l-3 m-3 c-2 user-list">
                <app-user-list></app-user-list>
            </div>
            <div class="col l-9 m-9 c-10 chat-box">
                <app-chat-box></app-chat-box>
            </div>
        </div>
    </div>
</div>