<div class="container" *ngIf="reviewPostResponse$ | async as reviewPost">
    <div class="header box-shadow">
        <div class="cover-image-wrap">
            <img class="cover-image" [src]="
          directLinkService.getURLImage(
            reviewPost.user.email,
            reviewPost.coverImage.name,
            reviewPost.coverImage.ext
          )
        " alt="" />
        </div>
        <div class="row no-gutters">
            <div class="col l-3 m-4 c-12">
                <div class="user-info">
                    <div class="avatar d-flex align-items-center justify-content-center">
                        <img [src]="
            directLinkService.getDefaultAvatarURL(
              reviewPost.user.gender
            )
          " alt="" />
                        <div class="title hide-on-mobile">
                            <h1>{{ reviewPost.title }}</h1>
                            <ul class="location-tag__list d-flex">
                                <li class="location-tag__item d-flex">#Mũi Gành Dầu</li>
                                <li class="location-tag__item d-flex">#Phú quốc</li>
                            </ul>
                        </div>
                    </div>
                    <div class="username d-flex align-items-center justify-content-center">
                        <span>{{reviewPost.user.fullName}}</span>
                    </div>
                </div>
            </div>
            <div class="col l-9 m-8 c-0">
                <div class="row no-gutters justify-content-between align-item-center">
                    <div class="follow-btn box-shadow d-flex align-items-center justify-content-center">
                        <i style="margin-right: 10px" class="fa fa-rss xs:d-none" aria-hidden="true"></i>
                        <span>Follow</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide-on-pc hide-on-tablet hide-on-big-tablet">
            <div class="col l-0 m-0 c-12 d-flex align-item-center justify-content-center">
                <div class="title">
                    <h1>
                        {{reviewPost.title}}
                    </h1>
                    <ul class="location-tag__list d-flex align-item-center justify-content-center">
                        <li class="location-tag__item d-flex">#Mũi Gành Dầu</li>
                        <li class="location-tag__item d-flex">#Phú quốc</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 m-12 c-12">
                    <div class="header d-flex align-item-center justify-content-between">
                        <ul class="step-location__list d-flex">
                            <i class="fa-solid fa-map-pin d-flex align-items-center"></i>
                            <li class="step-location__item">Châu á</li>
                            <li class="step-location__item">Việt nam</li>
                            <li class="step-location__item">Kiên giang</li>
                        </ul>
                        <ul class="action__list d-flex">
                            <li class="action__item">
                                <i class="fa-regular fa-calendar mr-r-5"></i>
                                <span>{{dateUtilsService.dateTimeFormula(reviewPost.createdDate)}}</span>
                            </li>
                            <li class="action__item">
                                <i class="fa-regular fa-heart mr-r-5"></i>
                                <span>20</span>
                            </li>
                            <li class="action__item">
                                <i class="fa-solid fa-comment-dots mr-r-5"></i>
                                <span>20</span>
                            </li>
                            <li class="action__item">
                                <i class="fa-solid fa-share"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="content__list">
                        <div class="content__item">
                            <div class="content__bio box-shadow">
                                {{reviewPost.bio}}
                            </div>
                        </div>
                        <div class="content__item">
                            <div class="content__detail">
                                {{reviewPost.content}}
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Video</h4>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Hình ảnh</h4>
                            
<!------ Sorting display images ------>
<div class="review-post__image">
    <!-- 1 image -->
    <div class="image__list one" *ngIf="reviewPost.images.length == 1">
        <div class="image__item">
            <img [src]="
            directLinkService.getURLImage(
        reviewPost.user.email,
        reviewPost.images[0].image.name,
        reviewPost.images[0].image.ext
      )
    " alt="" />
        </div>
    </div>
    <!-- 2 images -->
    <div class="image__list two" *ngIf="reviewPost.images.length == 2">
        <div class="row">
            <div class="col l-6 m-6 c-6" *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="image__item">
                    <img [src]="
          directLinkService.getURLImage(
            reviewPost.user.email,
            reviewPostImage.image.name,
            reviewPostImage.image.ext
          )
        " alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- 3 images -->
    <div class="image__list three" *ngIf="reviewPost.images.length == 3">
        <div class="row">
            <ng-container *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="col l-12 m-12 c-12" *ngIf="idx === 0">
                    <div class="image__item">
                        <img [src]="
            directLinkService.getURLImage(
              reviewPost.user.email,
              reviewPostImage.image.name,
              reviewPostImage.image.ext
            )
          " alt="" />
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <ng-container *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="col l-6 m-6 c-6" *ngIf="idx > 0">
                    <div class="image__item">
                        <img [src]="
            directLinkService.getURLImage(
              reviewPost.user.email,
              reviewPostImage.image.name,
              reviewPostImage.image.ext
            )
          " alt="" />
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- 4 images -->
    <div class="image__list four" *ngIf="reviewPost.images.length == 4">
        <div class="row">
            <ng-container *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="col l-12 m-12 c-12" *ngIf="idx == 0">
                    <div class="image__item">
                        <img [src]="
            directLinkService.getURLImage(
              reviewPost.user.email,
              reviewPostImage.image.name,
              reviewPostImage.image.ext
            )
          " alt="" />
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <ng-container *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="col l-4 m-4 c-4" *ngIf="idx > 0">
                    <div class="image__item">
                        <img [src]="
            directLinkService.getURLImage(
              reviewPost.user.email,
              reviewPostImage.image.name,
              reviewPostImage.image.ext
            )
          " alt="" />
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <!-- 5 images -->
    <div class="image__list five" *ngIf="reviewPost.images.length >= 5">
        <div class="row">
            <ng-container *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="col l-6 m-6 c-6" *ngIf="idx >= 0 && idx <= 1">
                    <div class="image__item">
                        <img [src]="
            directLinkService.getURLImage(
              reviewPost.user.email,
              reviewPostImage.image.name,
              reviewPostImage.image.ext
            )
          " alt="" />
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <ng-container *ngFor="let reviewPostImage of reviewPost.images; index as idx">
                <div class="col l-4 m-4 c-4" *ngIf="idx > 1 && idx < 4">
                    <div class="image__item">
                        <img [src]="
            directLinkService.getURLImage(
              reviewPost.user.email,
              reviewPostImage.image.name,
              reviewPostImage.image.ext
            )
          " alt="" />
                    </div>
                </div>
            </ng-container>
            <div class="col l-4 m-4 c-4" *ngIf="reviewPost.images.length == 5">
                <div class="image__item">
                    <img [src]="
          directLinkService.getURLImage(
            reviewPost.user.email,
            reviewPost.images[4].image.name,
            reviewPost.images[4].image.ext
          )
        " alt="" />
                </div>
            </div>
            <div class="col l-4 m-4 c-4" *ngIf="reviewPost.images.length > 5">
                <div class="image__item" style="position: relative">
                    <img [src]="
          directLinkService.getURLImage(
            reviewPost.user.email,
            reviewPost.images[4].image.name,
            reviewPost.images[4].image.ext
          )
        " alt="" />
                    <div class="image__item--overlay">
                        <span>+{{ reviewPost.images.length - 5 }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Bài viết cùng tác giả</h4>
                            <div class="grid">
                                <div class="row">
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div
                                                class="l-12 m-12 c-12 box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="" />
                                                <div class="author-post__content">
                                                    <div class="author-post__title">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div
                                                class="l-12 m-12 c-12 box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="" />
                                                <div class="author-post__content">
                                                    <div class="author-post__title">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Bài viết liên quan</h4>
                            <div class="grid">
                                <div class="row no-gutters relative-post__list">
                                    <div class="col l-12 m-12 c-12 relative-post__item box-shadow p-0 border-radius-5">
                                        <div class="row h-fit no-gutters">
                                            <div class="col l-3 m-6 c-6 h-fit">
                                                <img class="w-fit h-fit" src="assets/image/content-image.jpg" alt="" />
                                            </div>
                                            <div class="col l-9 m-6 c-6 relative-post">
                                                <div class="relative-post__content">
                                                    <div class="relative-post__title">
                                                        Review 3 ngày 1 điêm
                                                    </div>
                                                    <div class="relative-post__bio">
                                                        Bài viết này Quantrimang.com sẽ cùng bạn tìm hiểu
                                                        cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc
                                                        tính:Bài viết này Quantrimang.com sẽ cùng bạn tìm
                                                        hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-12 m-12 c-12 relative-post__item box-shadow p-0 border-radius-5">
                                        <div class="row h-fit no-gutters">
                                            <div class="col l-3 m-6 c-6 h-fit">
                                                <img class="w-fit h-fit" src="assets/image/content-image.jpg" alt="" />
                                            </div>
                                            <div class="col l-9 m-6 c-6 relative-post">
                                                <div class="relative-post__content">
                                                    <div class="relative-post__title">
                                                        Review 3 ngày 1 điêm
                                                    </div>
                                                    <div class="relative-post__bio">
                                                        Bài viết này Quantrimang.com sẽ cùng bạn tìm hiểu
                                                        cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc
                                                        tính:Bài viết này Quantrimang.com sẽ cùng bạn tìm
                                                        hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:Bài viết này Quantrimang.com sẽ cùng bạn
                                                        tìm hiểu cách xử lý đoạn text quá dài gây tình trạng
                                                        tràn ra ngoài phần tử chứa nó bằng cách sử dụng các
                                                        thuộc tính:
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Địa điểm liên quan</h4>
                            <div class="grid">
                                <div class="row">
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div
                                                class="l-12 m-12 c-12 box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="" />
                                                <div class="author-post__content">
                                                    <div class="author-post__title">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div
                                                class="l-12 m-12 c-12 box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="" />
                                                <div class="author-post__content">
                                                    <div class="author-post__title">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">
                                                        Review 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3
                                                        ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Giá khách sạn tại tỉnh: TTH</h4>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">
                                Tham khảo những hành trình chi tiết khác
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col l-0 m-0 c-0">
                    <div class="price-info p-12">a</div>
                </div>
            </div>
        </div>
    </div>
    <div class="close-btn" style="position: absolute; right: 40px; top: 40px" (click)="onClickClose()">
        <i class="fa-solid fa-xmark" style="font-size: 2rem; color: white"></i>
    </div>
</div>