<ul class="review-post__list">
    <li class="review-post__item" *ngFor="let i of p" [routerLink]="'/blog/1/post/1'">
        <div class="review-post__image">
            <!-- 1 image -->
            <div class="image__list one" *ngIf="i==1">
                <div class="image__item">
                    <img src="assets/image/review-post.jpg" alt="" />
                </div>
            </div>
            <!-- 2 images -->
            <div class="image__list two" *ngIf="i==2">
                <div class="row">
                    <div class="col l-6 m-6 c-6">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-6">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3 images -->
            <div class="image__list three" *ngIf="i==3">
                <div class="row">
                    <div class="col l-12 m-12 c-12">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-6 m-6 c-6">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-6">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4 images -->
            <div class="image__list four" *ngIf="i==4">
                <div class="row">
                    <div class="col l-12 m-12 c-12">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-4 m-4 c-4">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- 5 images -->
            <div class="image__list five" *ngIf="i>=5">
                <div class="row">
                    <div class="col l-6 m-6 c-6">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-6">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-4 m-4 c-4">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4" *ngIf="i==5">
                        <div class="image__item">
                            <img src="assets/image/review-post.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-4" *ngIf="i>5">
                        <div class="image__item" style="position: relative">
                            <img src="assets/image/review-post.jpg" alt="" />
                            <div class="image__item--overlay">
                                <span>+{{i-5}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-post__description">
            <h1 class="title">Hà nội và những ô cửa sổ</h1>
            <div class="location__list d-flex">
                <div class="location__item">
                    <i class="fa-solid fa-tags mr-r-5"></i>
                    <span>Phú quốc</span>
                </div>
            </div>
            <div class="info d-flex">
                <div class="location__item mr-r-10">
                    <i class="fa-solid fa-comments  mr-r-5"></i>
                    <span>2</span>
                </div>
                <div class="location__item mr-r-10">
                    <i class="fa-solid fa-heart  mr-r-5"></i>
                    <span>20</span>
                </div>
                <div class="location__item mr-r-10">
                    <i class="fa-regular fa-calendar  mr-r-5"></i>
                    <span>12/7/2022,9:01pm</span>
                </div>
            </div>
            <div class="short-description">
                <span>Mặt trời dần buông xuống phía cuối đường chân trời, cả bầu trời bao la như bị nhuộm đỏ. Ngồi trên
                    thuyền tận hưởng vẻ bình yên vào cuối ngày.</span>
            </div>
        </div>
    </li>
</ul>