<div class="container">
    <div class="header box-shadow">
        <div class="cover-image-wrap">
            <img class="cover-image" src="assets/image/anhbia.jpg" alt="">
        </div>
        <div class="row no-gutters">
            <div class="col l-3 m-4 c-12">
                <div class="user-info">
                    <div class="avatar d-flex align-items-center justify-content-center">
                        <img src="assets/image/member-1.png" alt="">
                        <div class="title hide-on-mobile">
                            <h1>HOÀNG HÔN Ở MŨI GÀNH DẦU HOÀNG HÔN Ở MŨI GÀNH DẦU HOÀNG HÔN Ở MŨI GÀNH DẦU HOÀNG HÔN Ở
                                MŨI GÀNH DẦU</h1>
                            <ul class="location-tag__list d-flex ">
                                <li class="location-tag__item d-flex">
                                    #Mũi Gành Dầu
                                </li>
                                <li class="location-tag__item d-flex">
                                    #Phú quốc
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="username d-flex align-items-center justify-content-center">
                        <span>Sam Nguyen</span>
                    </div>
                </div>
            </div>
            <div class="col l-9 m-8 c-0">
                <div class="row no-gutters justify-content-between align-item-center">
                    <div class="follow-btn box-shadow d-flex align-items-center justify-content-center">
                        <i style="margin-right: 10px;" class="fa fa-rss xs:d-none" aria-hidden="true"></i>
                        <span>Follow</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide-on-pc hide-on-tablet hide-on-big-tablet">
            <div class="col l-0 m-0 c-12 d-flex align-item-center justify-content-center">
                <div class="title">
                    <h1>HOÀNG HÔN Ở MŨI GÀNH DẦU HOÀNG HÔN Ở MŨI GÀNH DẦU HOÀNG HÔN Ở MŨI GÀNH DẦU HOÀNG HÔN Ở MŨI GÀNH
                        DẦU</h1>
                    <ul class="location-tag__list d-flex align-item-center justify-content-center">
                        <li class="location-tag__item d-flex">
                            #Mũi Gành Dầu
                        </li>
                        <li class="location-tag__item d-flex">
                            #Phú quốc
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 m-12 c-12">
                    <div class="header d-flex align-item-center justify-content-between">
                        <ul class="step-location__list d-flex">
                            <i class="fa-solid fa-map-pin d-flex align-items-center"></i>
                            <li class="step-location__item">Châu á</li>
                            <li class="step-location__item">Việt nam</li>
                            <li class="step-location__item">Kiên giang</li>
                        </ul>
                        <ul class="action__list d-flex">
                            <li class="action__item">
                                <i class="fa-regular fa-calendar mr-r-5"></i>
                                <span>12/7/2022,9:01pm</span>
                            </li>
                            <li class="action__item">
                                <i class="fa-regular fa-heart mr-r-5"></i>
                                <span>20</span>
                            </li>
                            <li class="action__item">
                                <i class="fa-solid fa-comment-dots mr-r-5"></i>
                                <span>20</span>
                            </li>
                            <li class="action__item">
                                <i class="fa-solid fa-share"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="content__list">
                        <div class="content__item">
                            <div class="content__bio box-shadow">
                                Mặt trời dần buông xuống phía cuối đường chân trời, cả bầu trời bao la như bị nhuộm đỏ.
                                Ngồi
                                trên thuyền tận hưởng vẻ bình yên vào cuối ngày.
                            </div>
                        </div>
                        <div class="content__item">
                            <div class="content__detail">
                                HOÀNG HÔN Ở MŨI GÀNH DẦU
                                Suốt mấy ngày ở Phú Quốc, việc mà tui làm nhiều nhất, mà ngày nào cũng làm là dậy sớm đi
                                ngắm bình mình và rong ruổi đi ngắm hoàng hôn.
                                Chơi chán chê xong, chạy qua Rạch Vẹm tính ăn trưa xong rồi tào lao ngắm hoàng hôn luôn
                                một
                                thể. Nhưng anh chủ quán lại bảo mùa này ở đây không ngắm được hoàng hôn đâu. Tui há hốc:
                                "Ơ
                                thế thì đi đâu ngắm đây ạ?". " Ra Gành Dầu hen". Vậy là lại xách xe ra Mũi Gành Dầu.
                                Tính sơ
                                sơ từ sáng đến tối chạy loanh quanh cũng tám chín chục cây chơ ít đâu. Nhưng vẫn quyết
                                tâm
                                cao độ lắm, đi thì cứ đi thôi.
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Video</h4>

                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Hình ảnh</h4>
                            <div class="content-image__list grid">
                                <div class="content-image__item row">
                                    <div class="col l-3">
                                        <img src="assets/image/content-image.jpg" alt="">
                                    </div>
                                    <div class="col l-3">
                                        <img src="assets/image/content-image.jpg" alt="">
                                    </div>
                                    <div class="col l-3">
                                        <img src="assets/image/content-image.jpg" alt="">
                                    </div>
                                    <div class="col l-3">
                                        <img src="assets/image/content-image.jpg" alt="">
                                    </div>
                                    <div class="col l-3">
                                        <img src="assets/image/content-image.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Bình luận</h4>
                            <!-- comment tree -->
                            <ul class="comment-list">
                                <ng-container *ngFor="let comment of commentTree;index as i">
                                    <ul class="comment-item">
                                        <div class="comment-line parent-comment-line">
                                        </div>
                                        <!-- Comment detail of parent-->
                                        <div class="comment-detail comment-parent">
                                            <div
                                                class="comment-detail__wrapper-img comment-detail__wrapper-img--parent">
                                                <img src="assets/image/profile-pic.png" alt="">
                                            </div>
                                            <div class="comment-detail__wrapper-info">
                                                <div class="comment-detail__info comment-detail__info--background">
                                                    <p class="">{{comment.user.name}}</p>
                                                    <div class="comment-content">{{comment.content}}</div>
                                                </div>
                                                <div class="comment-detail__react">
                                                    <div class="comment-detail__react-like">
                                                        <div class="react-like">Like
                                                        </div>
                                                        <div class="react-box">
                                                            <ng-container *ngFor="let src of srcReactIcons">
                                                                <img [src]="src.url" alt="">
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                    <div class="comment-detail__react-reply"
                                                        (click)="onClickRepUser(comment.user.name, rootReplyInput)">
                                                        Reply</div>
                                                    <label class="comment-detail__react-time">11h</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Child comment -->
                                        <ng-container *ngFor="let childComment of comment.comments">
                                            <ul class="comment-item comment-child">
                                                <div class="comment-line child-comment-line"></div>
                                                <div class="comment-detail">
                                                    <div
                                                        class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                                                        <div class="comment-link"></div>
                                                        <img src="assets/image/profile-pic.png" alt="">
                                                    </div>
                                                    <div class="comment-detail__wrapper-info">
                                                        <div
                                                            class="comment-detail__info comment-detail__info--background">
                                                            <p class="">{{childComment.user.name}}</p>
                                                            <div class="comment-content">{{childComment.content}}</div>
                                                        </div>
                                                        <div class="comment-detail__react">
                                                            <div class="comment-detail__react-like">Like
                                                                <div class="react-box">
                                                                    <ng-container *ngFor="let src of srcReactIcons">
                                                                        <img [src]="src.url" alt="">
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                            <div class="comment-detail__react-reply"
                                                                (click)="onClickRepUser(childComment.user.name, childReplyInput)">
                                                                Reply</div>
                                                            <label class="comment-detail__react-time">11h</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Leaf child comment -->
                                                <ng-container *ngFor="let c of childComment.comments">
                                                    <li class="comment-item comment-sibling">
                                                        <div class="comment-detail">
                                                            <div
                                                                class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                                                                <div class="comment-link"></div>
                                                                <img src="assets/image/profile-pic.png" alt="">
                                                            </div>
                                                            <div class="comment-detail__wrapper-info">
                                                                <div
                                                                    class="comment-detail__info comment-detail__info--background">
                                                                    <p class="">{{c.user.name}}</p>
                                                                    <div class="comment-content">{{c.content}}</div>
                                                                </div>
                                                                <div class="comment-detail__react">
                                                                    <div class="comment-detail__react-like">Like
                                                                        <div class="react-box">
                                                                            <ng-container
                                                                                *ngFor="let src of srcReactIcons">
                                                                                <img [src]="src" alt="">
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                    <div class="comment-detail__react-reply"
                                                                        (click)="onClickRepUser(c.user.name, childReplyInput)">
                                                                        Reply</div>
                                                                    <label
                                                                        class="comment-detail__react-time">11h</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ng-container>
                                                <!-- COMMENT INPUT -->
                                                <ul class="comment-item comment-sibling">
                                                    <div class="comment-detail">
                                                        <div
                                                            class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                                                            <div class="comment-link"></div>
                                                            <img src="assets/image/profile-pic.png" alt="">
                                                        </div>
                                                        <div class="comment-box bg-cl-1">
                                                            <input #childReplyInput type="text"
                                                                placeholder="Write a comment...">
                                                            <div class="activate">
                                                                <i class="emoji"></i>
                                                                <i class="photo"></i>
                                                                <i class="sticker"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </ul>
                                        </ng-container>
                                        <!-- COMMENT INPUT -->
                                        <ul class="comment-item comment-child">
                                            <div class="comment-detail">
                                                <div
                                                    class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                                                    <div class="comment-link"></div>
                                                    <img src="assets/image/profile-pic.png" alt="">
                                                </div>
                                                <div class="comment-box bg-cl">
                                                    <input #rootReplyInput type="text" placeholder="Write a comment...">
                                                    <div class="activate">
                                                        <i class="emoji"></i>
                                                        <i class="photo"></i>
                                                        <i class="sticker"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </ul>
                                </ng-container>
                                <div class="view-more-box d-flex justify-content-between align-items-center">
                                    <p class="font-weight-600">View more comments</p>
                                    <p>12 of 3,711</p>
                                </div>
                                <!-- <div class="write-a-comment d-flex justify-content-between align-items-center">
                                    <p class="font-weight-600" (click)="navigateTo(post1Id)">Write a comment...</p>
                                </div> -->
                            </ul>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Bài viết cùng tác giả</h4>
                            <div class="grid">
                                <div class="row">
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div class="l-12 m-12 c-12  box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="">
                                                <div class="author-post__content">
                                                    <div class="author-post__title">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div class="l-12 m-12 c-12  box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="">
                                                <div class="author-post__content">
                                                    <div class="author-post__title">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Bài viết liên quan</h4>
                            <div class="grid">
                                <div class="row no-gutters relative-post__list">
                                    <div class="col l-12 m-12 c-12 relative-post__item box-shadow p-0 border-radius-5">
                                        <div class="row h-fit no-gutters">
                                            <div class="col l-3 m-6 c-6 h-fit">
                                                <img class="w-fit h-fit" src="assets/image/content-image.jpg" alt="">
                                            </div>
                                            <div class="col l-9 m-6 c-6 relative-post">
                                                <div class="relative-post__content">
                                                    <div class="relative-post__title">Review 3 ngày 1 điêm</div>
                                                    <div class="relative-post__bio">Bài viết này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-12 m-12 c-12 relative-post__item box-shadow p-0 border-radius-5">
                                        <div class="row h-fit no-gutters">
                                            <div class="col l-3 m-6 c-6 h-fit">
                                                <img class="w-fit h-fit" src="assets/image/content-image.jpg" alt="">
                                            </div>
                                            <div class="col l-9 m-6 c-6 relative-post">
                                                <div class="relative-post__content">
                                                    <div class="relative-post__title">Review 3 ngày 1 điêm</div>
                                                    <div class="relative-post__bio">Bài viết này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:Bài viết
                                                        này Quantrimang.com sẽ cùng
                                                        bạn tìm hiểu cách xử lý đoạn text quá dài gây tình trạng tràn ra
                                                        ngoài phần tử chứa nó bằng cách sử dụng các thuộc tính:
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Địa điểm liên quan</h4>
                            <div class="grid">
                                <div class="row">
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div class="l-12 m-12 c-12  box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="">
                                                <div class="author-post__content">
                                                    <div class="author-post__title">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-3 m-6 c-6">
                                        <div class="d-flex author-post__list">
                                            <div class="l-12 m-12 c-12  box-shadow p-0 border-radius-5 author-post__list author-post">
                                                <img src="assets/image/content-image.jpg" alt="">
                                                <div class="author-post__content">
                                                    <div class="author-post__title">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                    <div class="author-post__bio">Review 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1
                                                        điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêmReview 3 ngày 1 điêm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Giá khách sạn tại tỉnh: TTH</h4>
                        </div>
                        <div class="content__item">
                            <h4 class="content__title">Tham khảo những hành trình chi tiết khác</h4>
                        </div>
                    </div>
                </div>
                <div class="col l-0 m-0 c-0">
                    <div class="price-info p-12">
                        a
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>