<mat-form-field appearance="fill" class="w-fit">
    <mat-label>Tên người dùng</mat-label>
    <input [formControl]="fullNameCtrl" matInput #message maxlength="100">
  </mat-form-field>
  <div class="standard__list justify-content-end mr-b-10">
    <div class="standard__item">
        <button mat-raised-button mat-dialog-close>Hủy</button>
    </div>
    <div class="standard__item">
        <button mat-raised-button class="primary-btn" [disabled]="fullNameCtrl.invalid" (click)="updateFullName(fullNameCtrl!.value, userService.userBSub.value!.id)">Lưu</button>
    </div>
  </div>