<shared-header></shared-header>
<div class="grid container">
    <div class="card-stats">
        <div class="card-stat box-shadow">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fa-solid fa-users-between-lines"></i>
                </div>
                <div class="card-category">Bài viết đánh giá</div>
                <h3 class="card-title">200</h3>
            </div>
        </div>
        <div class="card-stat box-shadow">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fa-solid fa-users-between-lines"></i>
                </div>
                <div class="card-category">Bài viết đánh giá</div>
                <h3 class="card-title">200</h3>
            </div>
        </div>
        <div class="card-stat box-shadow">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fa-solid fa-users-between-lines"></i>
                </div>
                <div class="card-category">Bài viết đánh giá</div>
                <h3 class="card-title">200</h3>
            </div>
        </div>
        <div class="card-stat box-shadow">
            <div class="card-header">
                <div class="card-icon">
                    <i class="fa-solid fa-users-between-lines"></i>
                </div>
                <div class="card-category">Bài viết đánh giá</div>
                <h3 class="card-title">200</h3>
            </div>
        </div>
    </div>
</div>