<div class="row no-gutters justify-content-between">
    <h1 mat-dialog-title>Đăng kí</h1>
    <i class="fa-solid fa-xmark"></i>
</div>
<div mat-dialog-content>
    <form [formGroup]="registerFormGroup">
        <div class="row">
            <div class="col l-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Họ</mat-label>
                    <input matInput placeholder="Ex. Huynh" formControlName="firstName" required>
                    <mat-error *ngIf="registerFormGroup.hasError('required', ['firstName'])">
                        Không thể bỏ trống
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col l-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Tên</mat-label>
                    <input matInput placeholder="Ex. Gia Huy" formControlName="lastName" required>
                    <mat-error *ngIf="registerFormGroup.hasError('required', ['lastName'])">
                        Không thể bỏ trống
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col l-12">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="huynhgiahuy492@gmail.com" formControlName="email" required>
                    <mat-error *ngIf="registerFormGroup.hasError('required', ['email'])">
                        Không thể bỏ trống
                    </mat-error>
                    <mat-error *ngIf="registerFormGroup.hasError('email', ['email'])">
                        Tài khoản không hợp lệ. Ví dụ: nguyenvana@gmail.com
                    </mat-error>
                    <mat-error *ngIf="registerFormGroup.hasError('minLength', ['email'])">
                        Tài khoản phải tối thiếu 6 kí tự
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col l-12">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Mật khẩu mới</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="registerFormGroup.hasError('required', ['password'])">
                        Không thể bỏ trống
                    </mat-error>
                    <mat-error *ngIf="registerFormGroup.hasError('minlength', ['password'])">
                        Mật khẩu phải tối thiếu 6 kí tự
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col l-12">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Chọn ngày sinh</mat-label>
                    <input matInput [matDatepicker]="datepicker" formControlName="dateOfBirth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-error *ngIf="registerFormGroup.hasError('required', ['dateOfBirth'])">
                        Không thể bỏ trống
                    </mat-error>
              
                </mat-form-field>
            </div>
        </div>
        <mat-radio-group class="sex row" formControlName="gender">
            <div class="col l-3 sex-wrap d-flex align-items-center justify-content-between">
                <mat-radio-button value="MALE">
                    Nam
                </mat-radio-button>
            </div>
            <div class="col l-3 sex-wrap d-flex align-items-center justify-content-between" style="margin: 0 auto;">
                <mat-radio-button value="FEMALE">
                    Nữ
                </mat-radio-button>
            </div>
            <div class="col l-3 sex-wrap d-flex align-items-center justify-content-between">
                <mat-radio-button value="UNDEFINED">
                    Không xác định
                </mat-radio-button>
            </div>
        </mat-radio-group>
        <div class="row no-gutters">
            <div class="col l-12">
                <span style="font-size: 1.2rem;">
                    Những người sử dụng dịch vụ của chúng tôi có thể đã tải thông tin liên hệ của bạn lên Travel. Tìm
                    hiểu thêm.<br>
                    Bằng cách nhấp vào Đăng ký, bạn đồng ý với Điều khoản, Chính sách Dữ liệu và Chính sách Cookie của
                    chúng tôi. Bạn có thể nhận được thông báo SMS từ chúng tôi và có thể chọn không tham gia bất kỳ lúc
                    nào.
                </span>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="row no-gutters justify-content-center align-item-center">
    <button #registerBtnRef mat-button class="register-btn col l-6 l-o-3" [disabled]="registerFormGroup.invalid" (click)="onClickRegister()">Đăng kí</button>
    <mat-progress-bar *ngIf="progressBarService.progressBar$ | async" mode="indeterminate"></mat-progress-bar>
</div>