<div class="overlay"  *ngIf="progressBarService.progressBar$ | async" mode="indeterminate">
  <mat-spinner></mat-spinner>
</div>
<shared-header></shared-header>
<div class="home-container">
  <div class="my-container grid">
    <div class="row">
      <!-- ----------left-sidebar---------- -->
      <div class="col l-3 m-0 c-0">
        <div class="left-sidebar">
          <div class="left-sidebar__content">
            <div class="imp-links">
              <a href=""><img src="assets/image/news.png" alt="">Latest News</a>
              <a href=""><img src="assets/image/friends.png" alt="">Friends</a>
              <a href=""><img src="assets/image/group.png" alt="">Group</a>
              <a href=""><img src="assets/image/marketplace.png" alt="">Market Place</a>
              <a href=""><img src="assets/image/watch.png" alt="">Market Watch</a>
              <a href="">See more</a>
            </div>
            <div class="shortcut-links">
              <p>Your Shortcut</p>
              <a href="">
                <img src="assets/image/shortcut-1.png" alt="">
                Web Developer
              </a>
              <a href="">
                <img src="assets/image/shortcut-2.png" alt="">
                Web Design Course
              </a>
              <a href="">
                <img src="assets/image/shortcut-3.png" alt="">
                Full Stack
              </a>
              <a href="">
                <img src="assets/image/shortcut-4.png" alt="">
                Website Experts
              </a>
              <a href="">
                <img src="assets/image/shortcut-4.png" alt="">
                Website Experts
              </a>
              <a href="">
                <img src="assets/image/shortcut-4.png" alt="">
                Website Experts
              </a>
              <a href="">
                <img src="assets/image/shortcut-4.png" alt="">
                Website Experts
              </a>
              <a href="">
                <img src="assets/image/shortcut-4.png" alt="">
                Website Experts
              </a>
              <a href="">
                <img src="assets/image/shortcut-4.png" alt="">
                Website Experts
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ----------main-content---------- -->
      <div class="col l-6 m-9 c-12">
        <router-outlet></router-outlet>
      </div>
      <!-- ----------right-sidebar---------- -->
      <div class="col l-3 m-3 c-0">
        <div class="right-sidebar">
          <div class="right-sidebar__content">
            <div class="sidebar-title">
              <h4>Events</h4>
              <a href="">See All</a>
            </div>
            <div class="event">
              <div class="left-event">
                <h3>18</h3>
                <span>March</span>
              </div>
              <div class="right-event">
                <h4>Social Media</h4>
                <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
                <a href="">More Info</a>
              </div>
            </div>
            <div class="event">
              <div class="left-event">
                <h3>22</h3>
                <span>June</span>
              </div>
              <div class="right-event">
                <h4>Mobile Marketing</h4>
                <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
                <a href="">More Info</a>
              </div>
            </div>

            <div class="sidebar-title">
              <h4>Advertisement</h4>
              <a href="">Close</a>
            </div>
            <img src="assets/image/advertisement.png" alt="" class="sidebar-ads">

            <div class="sidebar-title">
              <h4>Conversation</h4>
              <a href="">Hide Chat</a>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
            <div class="online-list">
              <div class="online">
                <img src="assets/image/member-1.png" alt="">
              </div>
              <p>Alison Mina</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- story-full -->
  <div class="post-full" [class.show]="sltStory">
    <div class="content-wrap">
      <div class="story-content">
        <div class="story-upload-container">
          <div class="story-upload">
            <div class="left-arrow-wrap" (click)="moveStory('-')">
              <div class="left-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff"
                  stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#9e9d9d" d="M15 19l-7-7 7-7" />
                </svg>
              </div>
            </div>
            <div #storyImageDetailContainer class="image-container">
            </div>
            <div class="right-arrow-wrap" (click)="moveStory('+')">
              <div class="right-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff"
                  stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#9e9d9d" d="M9 5l7 7-7 7" />
                </svg>
              </div>
            </div>
            <div class="my-progress-bar">
              <div #progressBarContainer class="my-progress-bar__list">
                <!-- <div class="my-progress-bar__item">
                    <div class="my-progress-bar__live"></div>
                  </div>
                  <div class="my-progress-bar__item">
                  </div>
                  <div class="my-progress-bar__item">
                  </div> -->
              </div>
              <div class="my-progress-bar__more">
                <div class="my-progress-bar__user-info">
                  <img src="assets\image\feed-image-4.png" alt="">
                  <div>Huỳnh Văn Phát Huỳnh Văn PhátHuỳnh Văn PhátHuỳnh Văn Phát</div>
                  <p>16g</p>
                </div>
                <div class="my-progress-bar__tool">
                  <i id="story-play-pause" class="pause-btn" [class.play]="isPauseStory" (click)="storyPlayPause()"></i>
                  <i id="story-mute-unmute" class="mute-btn" [class.un-mute]="isMutedStory"
                    (click)="storyMuteUnmute()"></i>
                  <i class="more-btn"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="story-react-container">
          <div class="story-react__reply-box">
            <input (click)="focusReplyBox($event)" class="story-react__input" type="text" placeholder="Reply...">
            <i disabled class="send-btn"></i>
          </div>
          <div class="story-react__react-box react-box">
            <ng-container *ngFor="let src of srcReactIcons">
              <img #newEle [src]="src" alt="">
            </ng-container>
          </div>
        </div>
      </div>
      <div class="story-list-wrap">
        <div class="close-btn-wrap">
          <mat-icon class="close-btn" (click)="closePost('story')">close</mat-icon>
        </div>
        <div class="stories-container">
          <div class="story-creation-wrap">
            <h2 style="margin: 0">Your Story</h2>
            <div class="story-creation">
              <div class="story-wrap story-wrap--grey-bg d-flex justify-content-center align-items-center">
                <mat-icon>add</mat-icon>
              </div>
              <div class="story-info">
                <h3>Create a story</h3>
                <span>Share a photo or write something</span>
              </div>
            </div>
          </div>
          <div class="stories__list">
            <h2 style="margin: 0">All stories</h2>
            <div class="stories__item" [class.stories__item--selected]="sltStory === p"
              *ngFor="let p of posts, index as idx" (click)="displayPost(idx,p,'story')">
              <div class="story-wrap" [class.story-wrap--old]="this.seenStory.has(p)"
                [class.story-wrap--new]="!this.seenStory.has(p)">
                <img [src]="p.user['avatarUrl']">
              </div>
              <div class="story-info">
                <h3>{{p.user['username']}}</h3>
                <span>6h</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end story-full -->
  <!-- post image detail -->
  <div #postImageDetailFull class="post-full" [class.show]="sltPost">
    <div class="content-wrap">
      <div class="post-image-detail__left">
        <div class="left-arrow-wrap" (click)="movePost('-')">
          <div class="left-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff"
              stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" stroke="#9e9d9d" d="M15 19l-7-7 7-7" />
            </svg>
          </div>
        </div>
        <div #postImageDetailContainer id="post-image-detail__container" class="image-container">
        </div>
        <div class="right-arrow-wrap" (click)="movePost('+')">
          <div class="right-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff"
              stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" stroke="#9e9d9d" d="M9 5l7 7-7 7" />
            </svg>
          </div>
        </div>
      </div>
      <div class="post-image-detail__right">
        <div class="header__container">
          <div class="header__list">
            <div class="header__item">
              <button type="button" class="btn-close" aria-label="Close" (click)="closePost('post')"></button>
            </div>
          </div>
          <div class="separate-line"></div>
        </div>
        <div class="post-image-detail__right-wrap">
          <div class="post-info__container">
            <div class="post-info__header">
              <div class="post-info__header-left">
                <i class="post-icon"></i>
                <p>This is a photo from a post</p>
              </div>
              <div class="post-info__header-right">
                <p>View post</p>
              </div>
            </div>
            <div class="separate-line"></div>
            <div class="post-info__content">
              <div class="post-info__content-top">
                <div class="user-info">
                  <div class="user-info-left">
                    <img src="assets/image/photo1.png" alt="">
                  </div>
                  <div class="user-info-right">
                    <div class="user-info__username">Huỳnh Gia Huy</div>
                    <div class="user-info__post-detail">
                      <div class="post-detail__date">May 30 at 5:28 PM</div>
                      <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/7OZI7ybJbP6.png" alt="Only me" height="16"
                        width="16">
                    </div>
                  </div>
                </div>
                <div class="more-btn">
                  <svg fill="currentColor" viewBox="0 0 20 20" width="2rem" height="2rem">
                    <g fill-rule="evenodd" transform="translate(-446 -350)">
                      <path
                        d="M458 360a2 2 0 1 1-4 0 2 2 0 0 1 4 0m6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0m-12 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0">
                      </path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="post-info__content-bottom">
                <button mat-raised-button>Edit</button>
              </div>
            </div>
          </div>
          <div class="separate-line"></div>
          <div class="react-btn__container">
            <ul class="react-btn__list">
              <li #reactBtnItem class="react-btn__item" (click)="unselectReact(reactBtnItem)">
                <!--         <ng-container *ngTemplateOutlet="reactBtnWrapTemplate">
                  </ng-container>
                  <ng-template #reactBtnWrapTemplate> -->
                <div class="react-btn-wrap">
                  <i class="like-btn-icon"></i>
                  <p class="react-name">Like</p>
                </div>
                <!--   </ng-template> -->
                <div class="react-box">
                  <ng-container *ngFor="let src of srcReactIcons">
                    <img class="react-icon" #reactIconTemplateRef [src]="src.url" [alt]="src.name"
                      (click)="selectReactIcon($event,reactIconTemplateRef, src.name)">
                  </ng-container>
                </div>
              </li>
              <li class="react-btn__item" (click)="isShowComments=!isShowComments">
                <div class="react-btn-wrap">
                  <i #likeBtnIconTemplateRef class="comment-btn-icon"></i>
                  <p>Comment</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="comment__container">
            <div class="separate-line"></div>
            <ul class="comment-list">
              <ng-container *ngFor="let comment of commentTree;index as i">
                <ul class="comment-item">
                  <div class="comment-line parent-comment-line">
                  </div>
                  <!-- Comment detail of parent-->
                  <div class="comment-detail comment-parent">
                    <div class="comment-detail__wrapper-img comment-detail__wrapper-img--parent">
                      <img src="assets/image/profile-pic.png" alt="">
                    </div>
                    <div class="comment-detail__wrapper-info">
                      <div class="comment-detail__info comment-detail__info--background-1">
                        <p class="">{{comment.user.name}}</p>
                        <div class="comment-content">{{comment.content}}</div>
                      </div>
                      <div class="comment-detail__react">
                        <div class="comment-detail__react-like">
                          <div class="react-like">Like
                          </div>
                          <div class="react-box">
                            <ng-container *ngFor="let src of srcReactIcons">
                              <img [src]="src.url" alt="">
                            </ng-container>
                          </div>
                        </div>
                        <div class="comment-detail__react-reply"
                          (click)="onClickRepUser(comment.user.name, rootReplyInput)">
                          Reply</div>
                        <label class="comment-detail__react-time">11h</label>
                      </div>
                    </div>
                  </div>
                  <!-- Child comment -->
                  <ng-container *ngFor="let childComment of comment.comments">
                    <ul class="comment-item comment-child">
                      <div class="comment-line child-comment-line"></div>
                      <div class="comment-detail">
                        <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                          <div class="comment-link"></div>
                          <img src="assets/image/profile-pic.png" alt="">
                        </div>
                        <div class="comment-detail__wrapper-info">
                          <div class="comment-detail__info comment-detail__info--background-1">
                            <p class="">{{childComment.user.name}}</p>
                            <div class="comment-content">{{childComment.content}}</div>
                          </div>
                          <div class="comment-detail__react">
                            <div class="comment-detail__react-like">Like
                              <div class="react-box">
                                <ng-container *ngFor="let src of srcReactIcons">
                                  <img [src]="src.url" alt="">
                                </ng-container>
                              </div>
                            </div>
                            <div class="comment-detail__react-reply"
                              (click)="onClickRepUser(childComment.user.name, childReplyInput)">Reply</div>
                            <label class="comment-detail__react-time">11h</label>
                          </div>
                        </div>
                      </div>
                      <!-- Leaf child comment -->
                      <ng-container *ngFor="let c of childComment.comments">
                        <li class="comment-item comment-sibling">
                          <div class="comment-detail">
                            <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                              <div class="comment-link"></div>
                              <img src="assets/image/profile-pic.png" alt="">
                            </div>
                            <div class="comment-detail__wrapper-info">
                              <div class="comment-detail__info comment-detail__info--background-1">
                                <p class="">{{c.user.name}}</p>
                                <div class="comment-content">{{c.content}}</div>
                              </div>
                              <div class="comment-detail__react">
                                <div class="comment-detail__react-like">Like
                                  <div class="react-box">
                                    <ng-container *ngFor="let src of srcReactIcons">
                                      <img [src]="src" alt="">
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="comment-detail__react-reply"
                                  (click)="onClickRepUser(c.user.name, childReplyInput)">Reply</div>
                                <label class="comment-detail__react-time">11h</label>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ng-container>
                      <!-- COMMENT INPUT -->
                      <ul class="comment-item comment-sibling">
                        <div class="comment-detail">
                          <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                            <div class="comment-link"></div>
                            <img src="assets/image/profile-pic.png" alt="">
                          </div>
                          <div class="comment-box bg-cl-1">
                            <input #childReplyInput type="text" placeholder="Write a comment...">
                            <div class="activate">
                              <i class="emoji"></i>
                              <i class="photo"></i>
                              <i class="sticker"></i>
                            </div>
                          </div>
                        </div>
                      </ul>
                    </ul>
                  </ng-container>
                  <!-- COMMENT INPUT -->
                  <ul class="comment-item comment-child">
                    <div class="comment-detail">
                      <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                        <div class="comment-link"></div>
                        <img src="assets/image/profile-pic.png" alt="">
                      </div>
                      <div class="comment-box bg-cl-1">
                        <input #rootReplyInput type="text" placeholder="Write a comment...">
                        <div class="activate">
                          <i class="emoji"></i>
                          <i class="photo"></i>
                          <i class="sticker"></i>
                        </div>
                      </div>
                    </div>
                  </ul>
                </ul>
              </ng-container>
            </ul>
            <div class="comment__wrap">
              <img class="comment-avatar" src="assets/image/profile-pic.png" alt="">
              <div class="comment-box bg-cl-1">
                <input #post1Id type="text" placeholder="Write a comment...">
                <div class="activate">
                  <i class="emoji"></i>
                  <i class="photo"></i>
                  <i class="sticker"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end post image detail -->
</div>