.header-wrap {
  z-index: 999;
}

/* container */
.home-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.my-container {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  position: relative;
}

.left-sidebar,
.right-sidebar {
  height: 100vh;
  position: sticky;
  overflow: auto;
  visibility: hidden;
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}

.left-sidebar__content,
.left-sidebar:hover,
.left-sidebar:focus,
.right-sidebar__content,
.right-sidebar:hover,
.right-sidebar:focus {
  visibility: visible;
}

/* main-content */
.cover {
  position: relative;
  z-index: 1;
}

.cover .cover-image__list {
  position: relative;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.3);
}

.cover .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.cover .content h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--white-color--);
  text-align: center;
}

.cover .cover-image__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  animation: fadeIn linear 1s
}

.cover .cover-image__item:first-child {
  opacity: 1;
}

.cover .cover-image__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-action {
  background: var(--background-color-1--);
}

.cover-action__list {}

.cover-action__item {
  margin: 10px 0;
  text-align: center;
}

.cover-action__item h4 {
  font-size: 1.4rem;
  font-weight: 550;
  color: var(--primary-color--);
  margin: 0;
}

.cover-action__item p {
  margin: 0;
}

.cover-action__item h4:hover {
  text-decoration: underline;
}

/* main content */
.main-content {
  height: 100vh;
  overflow-y: auto;
  margin: 0 20px
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-content>div {
  background-color: var(--background-color-1--);
  margin-bottom: 20px;
}

.main-content>div:first-child {
  width: 100%;
  background-color: var(--background-color---);
}

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.story-gallery .see-all-btn {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 999;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background: var(--background-color-1--);
  box-shadow: 0 0 3px #ccc;
}

.story-gallery .see-all-btn:hover {
  background: var(--hover-color--);
}

.story {
  flex-basis: 18%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.seen-story {
  border-color: #fff !important;
}

.story__thumbnail {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story__thumbnail img,
.story__thumbnail video {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.story__thumbnail:hover img {
  animation: zoom-in-zoom-out 0.2s linear forwards;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}

.story>img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid var(--primary-color--);
}

.story.story1>img {
  top: unset;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  border: 0;
  width: 35px;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}

/* story-full , post-image-detail-full */
.story-full,
.post-image-detail-container,
.post-full {
  background: #222;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: none;
}

.visible {
  opacity: 1 !important;
  z-index: 1 !important;
}

.show {
  display: block;
}

.post-image-detail-container img {
  opacity: 0;
}

.close-btn-wrap {
  padding: 10px;
  box-shadow: 0 4px 2px -2px #ccc;
}

.close-btn {
  position: sticky;
  left: 100%;
  font-size: 3.2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border-radius: 100rem;
  background: var(--background-color-1--);
}

.close-btn:hover {
  background: var(--hover-color--);
}

.content-wrap {
  display: flex;
}

.story-content,
.post-image-detail__left {
  flex-basis: 70%;
  height: 100vh;
  background: var(--background-color-1--);
}

.post-image-detail__left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 7px #ccc;
}

.image-container img,
.image-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
}

.post-image-detail__left .left-arrow-wrap,
.right-arrow-wrap {
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.post-image-detail__left .left-arrow-wrap {
  left: 50px;
}

.post-image-detail__left .right-arrow-wrap {
  right: 50px;
}

@keyframes slowMoveToLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes slowMoveToRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}

.left-arrow,
.right-arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--background-color--);
  box-shadow: 0 0 5px 0px #ccc;
  cursor: pointer;
}

.left-arrow-wrap,
.right-arrow-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow-wrap {
  left: -100px;
}

.right-arrow-wrap {
  right: -100px;
}

.left-arrow-wrap:hover .left-arrow {
  animation: slowMoveToLeft 200ms linear forwards;
  background-color: #f9f9f9;
}

.right-arrow-wrap:hover .right-arrow {
  animation: slowMoveToRight 200ms linear forwards;
  background-color: #f9f9f9;
}

.story-upload-container {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-upload {
  position: relative;
  width: 35%;
  height: 90%;
}

.story-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.story-react-container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-react-container div {
  margin: 0 10px;
}

@keyframes scaleHorizontal {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeInAndFloatUp {
  from {
    opacity: 0;
    z-index: -1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    z-index: 999;
    transform: translateY(-125%);
  }
}

.story-react__reply-box {
  width: 295px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #9e9d9d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.story-react__reply-box .story-react__input {
  background-color: transparent;
  width: 100%;
  padding: 15px;
  font-weight: 550;
}

.open {
  animation: scaleHorizontal 0.2s linear forwards;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.story-react__react-box--fadeIn {
  animation: fadeIn 0.2s linear forwards;
}

.story-react__react-box.react-box {
  position: relative;
  opacity: 1;
}

.send-btn {
  background-image: url("/assets/bg-img/ARSh-z9boO3.png");
  background-position: -88px -106px;
  background-size: 112px 354px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
  filter: brightness(0) invert(0.5);
}

.post-info__container {
  padding: 0 20px;
}

.post-info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info__header-left {
  display: flex;
  align-items: center;
}

.post-info__header-left .post-icon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/tNtc26NZCUe.png);
  background-position: 0px -610px;
  background-size: 26px 834px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.post-info__header-left p {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 1.2rem;
}

.post-info__header-right {}

.post-info__header-right p {
  font-weight: 550;
  margin: 0;
  font-size: 1.3rem;
}

.post-info__header-right p:hover {
  text-decoration: underline;
}

.post-info__content {}

.post-info__content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info__content-top .user-info {
  display: flex;
  align-items: center;
}

.post-info__content-top .more-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-info__content-top .more-btn:hover {
  background-color: var(--hover-color--);
}

.post-info__content-top .user-info .user-info-left {}

.post-info__content-top .user-info .user-info-left img {
  border-radius: 50%;
  width: 40px;
}

.post-info__content-top .user-info .user-info-right {
  margin-left: 10px;
}

.post-info__content-top .user-info .user-info-right .user-info__username {
  font-weight: 550;
  margin: 0;
}

.post-info__content-top .user-info .user-info-right .user-info__post-detail {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.post-info__content-top .user-info .user-info-right .user-info__post-detail img {
  margin-left: 10px;
}

.post-info__content-top,
.post-info__content-bottom {
  margin: 20px 0;
}

.react-btn__container .react-btn__list .react-btn__item .react-box {
  left: 0;
}

.comment__container {
  padding: 0 20px;
}

.comment__wrap {
  display: flex;
  align-items: center;
}

/* end post image detail full */
.my-progress-bar {
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 999
}

.my-progress-bar__list {
  width: 95%;
  height: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.my-progress-bar__item {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgb(90 90 90 / 66%);
  margin: 3px;
  overflow: hidden;
}

@keyframes move {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.my-progress-bar__live {
  background-color: var(--background-color--);
  height: 100%;
  width: 0;
  animation: move 3s linear infinite forwards;
}

.my-progress-bar__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.my-progress-bar__user-info {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.my-progress-bar__user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.my-progress-bar__user-info div {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  width: 10px;
  white-space: nowrap;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.my-progress-bar__user-info p {
  margin: 0;
  color: white;
}

.my-progress-bar__tool {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-progress-bar__tool i {
  filter: brightness(0) invert(1);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  cursor: pointer;
}

.my-progress-bar__tool .pause-btn {
  background-image: url("/assets/bg-img/NY7o7OfIDPx.png");
  background-position: 0px -104px;
  background-size: 26px 288px;
}

.my-progress-bar__tool .pause-btn.play {
  background-position: 0px -156px;
}



.my-progress-bar__tool .mute-btn {
  background-image: url("/assets/bg-img/wpZGDvmNZxM.png");
  background-position: 0px -26px;
  background-size: 26px 604px;
}

.my-progress-bar__tool .mute-btn.un-mute {
  background-position: 0px 0px;
}

.my-progress-bar__tool .more-btn {
  background-image: url("/assets/bg-img/gDgEYvVGhpx.png");
  background-position: -164px -14px;
  background-size: 190px 150px;
  background-repeat: no-repeat;
}



/* end my-progress-bar */

.story-list-wrap,
.post-image-detail__right {
  flex-basis: 30%;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.post-image-detail__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image-detail__right .header__container {
  width: 100%;
  height: 50px;
}

.post-image-detail__right-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  flex: 1;
  justify-content: flex-end;
}

.header__item {
  border-radius: 50%;
  background: var(--transparent-primary-color--);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stories-container {
  overflow-y: scroll;
  height: inherit;
  padding: 10px;
}

.stories__item--selected {
  background-color: var(--hover-color--);
}

.story-creation,
.stories__item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;

}

.stories__item:hover {
  background: var(--hover-color--);
}

.story-wrap {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100rem;
}

.story-wrap--new {
  border: 4px solid var(--primary-color--);
}

.story-wrap--old {
  border: 4px solid var(--background-color-1--);
}

.story-wrap--grey-bg {
  background-color: var(--background-color-1--);
}

.story-wrap img {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.story-wrap mat-icon {
  font-size: 3rem;
}

.story-info {
  flex: 1;
  margin-left: 20px;
  line-height: 80%;
}

.story-info h3,
span {
  margin: 0;
  font-size: 1.4rem;
}

.story-info h3 {
  letter-spacing: 0.5px;
  font-weight: 600;
}

/* end story-full */

.write-post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  color: #626262;
  overflow: hidden;
  padding: 10px;
}

.write-post-container .write-post-container__icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.write-post-container .write-post-container__icons .write-post-container__icon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 5px;
}

.write-post-container .write-post-container__icons .write-post-container__icon .write-post-container__icon--cherry-color {
  color: var(--base-cherry-color--);
}

.write-post-container .write-post-container__icons .write-post-container__icon .write-post-container__icon--lime-color {
  color: var(--base-lime-color--);
}

.write-post-container .write-post-container__icons .write-post-container__icon .write-post-container__icon--lemon-color {
  color: var(--base-lemon-color--);
}

.write-post-container .write-post-container__icons p {
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.4rem;
}

.write-post-container ul li:hover {
  background-color: var(--hover-color--);
}

.write-post-container div:nth-child(1) {}

.write-post-container div:nth-child(1) img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.write-post-container div:nth-child(1) input {
  flex: 1;
  border-radius: 100px;
  padding: 0 20px;
  margin-left: 10px;
  height: 40px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile-name {
  flex: 1;
}

.user-profile h3 {
  margin: 0;
  font-weight: 500;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile div {}

.user-profile small {
  font-size: 12px;
}

.post-input-container {
  padding: 20px 0 0 55px;
}

.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  resize: none;
}

.add-post-links {
  display: flex;
  flex-wrap: nowrap;
}

.add-post-links a {
  display: flex;
  align-items: center;
  color: #626262;
  font-size: 13px;
  margin-right: 30px;
}

.add-post-links a img {
  width: 20px;
  margin-right: 10px;
}

.post-container {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  color: #626262;
  margin: 20px 0;
  box-shadow: 0 0 5px #ccc;
}

.post-container>div {
  padding: 10px;
}

.post-container>div:first-child {
  padding-bottom: 0;
}

.post-container>div:last-child {
  padding-top: 0;
}

.post-container>.post-image-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.post-image-container {
  width: 100%;
  min-height: 320px;
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-col {
  flex-direction: column;
}

.post-image-wrap {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.post-image-wrap .video-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-image-wrap .video-wrap .video-play-btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-image-wrap .video-wrap .video-play-btn i {
  color: #fff;
  font-size: 4rem;
}

.post-image-wrap img,
.post-image-wrap .video-wrap,
.post-image-wrap .video-wrap video {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
  cursor: pointer;
}

.post-image-wrap.flex-direction-row img,
.post-image-wrap.flex-direction-row .video-wrap {
  width: 1px;
}

.post-image-container.flex-direction-col .post-image-wrap:first-child {
  margin-bottom: 1px;
}

.post-image-container.flex-direction-col .post-image-wrap:last-child {
  margin-top: 1px;
}

.post-image-wrap.flex-direction-row img,
.post-image-wrap.flex-direction-row .video-wrap {
  margin: 0 1px;
}

.post-image-wrap.flex-direction-row img:first-child,
.post-image-wrap.flex-direction-row .video-wrap:first-child {
  margin-left: 0;
}

.post-image-wrap.flex-direction-row img:last-child,
.post-image-wrap.flex-direction-row .video-wrap:last-child {
  margin-right: 0;
}

.post-image-container.flex-direction-row .post-image-wrap:first-child {
  margin-right: 1px;
}

.post-image-container.flex-direction-row .post-image-wrap:last-child {
  margin-left: 1px;
}

.post-image-wrap.flex-direction-col .last-image-wrap {
  position: relative;
}

.last-image--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.last-image--overlay p {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 5px;
}

.post-image-wrap.flex-direction-col img,
.post-image-wrap.flex-direction-col .video-wrap .post-image-wrap.flex-direction-col .last-image-wrap {
  margin: 1px 0;
}

.post-image-wrap.flex-direction-col img:first-child,
.post-image-wrap.flex-direction-col .video-wrap {
  margin-top: 0;
}

.post-image-wrap.flex-direction-col img:last-child,
.post-image-wrap.flex-direction-col .video-wrap:last-child {
  margin-bottom: 0;
}

.post-container span {
  font-size: 13px;
  color: #9a9a9a;
}

.post-text {
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}

.post-text span {
  color: #626262;
  font-weight: 500;
}

.post-text a {
  color: var(--primary-color--);
}

.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.post-row {
  display: flex;
  align-items: center;
}

.post-react-left {}

.post-react-left img {
  width: 20px;
  height: 20px;
}

.post-react-left .total-react {
  margin-left: 10px;
}

.post-react-left .total-react:hover {
  text-decoration: underline;
}

.post-react-right div {
  margin: 0 5px;
}

.post-react-right div:hover {
  text-decoration: underline;
}

.post-row a {
  color: #9a9a9a;
}

.react-btn__list {
  display: flex;
  align-items: center;
}

.react-btn__item {
  height: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.react-btn__item:first-child::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  position: absolute;
}

.comment-detail__react-like::before {
  content: "";
  width: 200%;
  height: 200%;
  left: 0;
  top: -100%;
  position: absolute;
}

.react-btn__list .react-btn__item:hover {
  background-color: var(--hover-color--);
}

.react-btn-wrap {
  display: flex;
  align-items: center;
}

.react-btn-wrap .react-name {
  text-transform: capitalize;
}

.react-btn-wrap .react-name--like {
  color: var(--primary-color--);
}

.react-btn-wrap .react-name--love {
  color: rgb(243, 62, 88);
}

.react-btn-wrap .react-name--sad,
.react-name--haha,
.react-name--wow,
.react-name--care {
  color: rgb(247, 177, 37);
}

.react-btn-wrap .react-name--angry {
  color: rgb(233, 113, 15);
}

.react-btn-wrap>.react-icon {
  width: 20px;
  height: 20px;
}

.react-btn__list li p {
  margin: 0 10px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.comment-box {
  display: flex;
  align-self: center;
  border-radius: 30px;
  background-color: var(--background-color--);
  flex-grow: 1;
  align-items: center;
  margin-left: 10px;
}

.comment-box.bg-cl {
  background-color: var(--background-color--);
}

.comment-box.bg-cl-1 {
  background-color: var(--background-color-1--);
}

.comment-box .activate {
  display: flex;
  align-items: center;
}

.comment-box .activate i {
  background-size: 26px 750px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;
}

.activate i {
  cursor: pointer;
}

.comment-box .activate .emoji {
  background-image: url("/assets/bg-img/GIS-Sbi9VjZ.png");
  background-position: 0px -468px;
}

.comment-box .activate .photo {
  background-image: url("/assets/bg-img/GIS-Sbi9VjZ.png");
  background-position: 0px -414px;
}

.comment-box .activate .sticker {
  background-image: url("/assets/bg-img/GIS-Sbi9VjZ.png");
  background-position: 0px -576px;
}

.comment-box input {
  background-color: transparent;
  flex: 1;
  padding: 10px 0;
  margin-left: 15px;
}

/* COMMENT LIST */
.comment-list {
  padding: 10px;
}

.comment-item {
  margin: 10px 0;
  position: relative;
}

.comment-line {
  position: absolute;
  border-left: 2px solid #ccc;
}

.parent-comment-line.comment-line {
  height: calc(100% - 85px);
  top: 45px;
  left: 20px;
}

.child-comment-line.comment-line {
  height: calc(100% - 75px);
  top: 35px;
  left: 15px;
}

.comment-detail {
  display: flex;
  position: relative;
}

.comment-link {
  position: absolute;
  width: 85%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  top: -50%;
  left: -100%;
}

.comment-child {
  margin-left: 50px;
}

.comment-sibling {
  margin-left: 45px;
}

.comment-detail__wrapper-img {
  position: relative;
}

.comment-detail__wrapper-img--parent {
  width: 40px;
  height: 40px;
}

.comment-detail__wrapper-img--child {
  width: 30px;
  height: 30px;
}

.comment-detail__wrapper-img img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  cursor: pointer;
}

.comment-detail .comment-detail__wrapper-info {
  margin-left: 10px;
}

.comment-detail__info {
  border-radius: 20px;
  padding: 10px;
}

.comment-detail__info p {
  cursor: pointer;
}

.comment-detail__info p:hover {
  text-decoration: underline;
}

.comment-detail__info.comment-detail__info--background {
  background-color: var(--background-color--);
}

.comment-detail__info.comment-detail__info--background-1 {
  background-color: var(--background-color-1--);
}

.comment-detail__react {
  display: flex;
  align-items: center;
  position: relative;
}

.react-box {
  border-radius: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0px;
  border: 1px solid #ccc;
  background-color: var(--background-color-1--);
  display: none;
  opacity: 0;
  /* animation: react-name 0.3s linear forwards; */
}

.like-btn {
  position: relative;
}

.like-btn:hover {
  border-radius: 5px;
}

.like-btn-icon-wrap {
  display: flex;
  align-items: center;
}

.react-btn__list .react-btn__item .react-btn-wrap i {
  background-image: url("/assets/bg-img/tNtc26NZCUe.png");
  background-size: 26px 834px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: brightness(0) invert(0.3);
  width: 18px;
  height: 18px;
}

.react-btn__list .react-btn__item .react-btn-wrap p {
  font-weight: 550;
}

.like-btn-icon {
  background-position: 0px -336px;
}

.comment-btn-icon {
  background-position: 0px -296px;
}

.shared-btn-icon {
  background-position: 0px -356px;
}

.react-btn__list .react-btn__item .react-box,
.comment-detail__react-like .react-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-50%);
}

.react-btn__list .react-btn__item:hover .react-box,
.comment-detail__react-like:hover .react-box {
  animation: fadeInAndFloatUp 0.1s linear 1s forwards;
  display: flex;
}

.react-box--hidden {
  visibility: hidden !important;
}

.react-box img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin: 0 4px;
  transform: translateZ(0);
  transition: transform 300ms;
  transform-origin: bottom;
}

.react-box img:hover {
  transform: scale(1.3);
}

.comment-detail__react .comment-detail__react-like,
.comment-detail__react-reply {
  position: relative;
  margin: 0 10px !important;
  cursor: pointer;
  font-weight: 600;
}

.react-like:hover {
  text-decoration: underline;
}

.comment-detail .comment-detail__wrapper-info p {
  font-weight: 600;
  margin: 0;
}

.view-more-box p:first-child:hover {
  text-decoration: underline;
}

.write-a-comment {}

.write-a-comment p:first-child:hover {
  text-decoration: underline;
  background-color: var(--hover-color--);
}

/* END COMMENT LIST */
.activity-icons,
.post-profile-icon {
  display: flex;
  align-items: center;
}

.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}

.activity-icons div img {
  width: 18px;
  margin-right: 10px;
}

.post-profile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.load-more-btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}

/* imp-links */
.imp-links {}

.imp-links {
  border-bottom: 1px solid #ccc;
}

.imp-links a,
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}

.imp-links a:last-child {
  color: #1876f2;
}

.imp-links a img {
  width: 25px;
  margin-right: 25px;
}

/* shortcut-links */
.shortcut-links {}

.shortcut-links p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}

.shortcut-links a img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

/* right-sidebar */

.right-sidebar h4 {
  font-weight: 600;
  font-size: 16px;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-title a {
  color: var(--primary-color--);
  font-size: 12px;
}

.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.event p {
  font-size: 12px;
}

.event a {
  font-size: 12px;
  color: var(--primary-color--);
}

.left-event {
  position: relative;
  border-radius: 10px;
  width: 65px;
  height: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-event h3 {}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color--);
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}

.right-event {}

.right-event h4 {}

.right-event p {}

.right-event a {}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-list p {
  width: 100%;
}

.online-list .online {
  margin-right: 15px;
}

.online-list .online::after {
  top: unset;
  bottom: 0px;
}

.online-list .online img {
  width: 40px;
  border-radius: 50%;
}

/* footer */
.footer {
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
}

/* MAP */
agm-map {
  width: 400px;
  height: 400px;
}

/* Responsive */
/* Mobile */
@media (max-width: 739px) {
  .cover .cover-image__list{
    height: 225px;
  }
  .cover-action__list .cover-action__item{
    align-items: center;
    display: flex;
  }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {}

/* > Tablet */
@media (min-width: 1023px) and (max-width: 1113px) {}

/* > PC medium resolution */
@media (min-width: 1113px) {}