<div class="home-container">
  <div class="header-wrap" style="position: sticky">
    <shared-header></shared-header>
  </div>
  <div class="my-container">
    <!-- ----------left-sidebar---------- -->
    <div class="left-sidebar">
      <div class="left-sidebar__content">
        <div class="imp-links">
          <a href=""><img src="assets/image/news.png" alt="">Latest News</a>
          <a href=""><img src="assets/image/friends.png" alt="">Friends</a>
          <a href=""><img src="assets/image/group.png" alt="">Group</a>
          <a href=""><img src="assets/image/marketplace.png" alt="">Market Place</a>
          <a href=""><img src="assets/image/watch.png" alt="">Market Watch</a>
          <a href="">See more</a>
        </div>
        <div class="shortcut-links">
          <p>Your Shortcut</p>
          <a href="">
            <img src="assets/image/shortcut-1.png" alt="">
            Web Developer
          </a>
          <a href="">
            <img src="assets/image/shortcut-2.png" alt="">
            Web Design Course
          </a>
          <a href="">
            <img src="assets/image/shortcut-3.png" alt="">
            Full Stack
          </a>
          <a href="">
            <img src="assets/image/shortcut-4.png" alt="">
            Website Experts
          </a>
          <a href="">
            <img src="assets/image/shortcut-4.png" alt="">
            Website Experts
          </a>
          <a href="">
            <img src="assets/image/shortcut-4.png" alt="">
            Website Experts
          </a>
          <a href="">
            <img src="assets/image/shortcut-4.png" alt="">
            Website Experts
          </a>
          <a href="">
            <img src="assets/image/shortcut-4.png" alt="">
            Website Experts
          </a>
          <a href="">
            <img src="assets/image/shortcut-4.png" alt="">
            Website Experts
          </a>
        </div>
      </div>
    </div>
    <!-- ----------main-content---------- -->
    <div class="main-content-wrap">
      <div class="main-content">
        <!-- story-gallery -->
        <div class="story-gallery">
          <div class="see-all-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-arrow-right-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
            </svg>
          </div>
          <div class="story story1">
            <div class="story__thumbnail">
              <img src="/assets/image/status-2.png" alt="">
            </div>
            <img src="assets/image/upload.png" alt="">
            <p>Post Story</p>
          </div>
          <div class="story">
            <div class="story__thumbnail">
              <img src="/assets/image/status-2.png" alt="">
            </div>
            <img src="assets/image/member-2.png" alt="">
            <p>People 2</p>
          </div>
          <div class="story">
            <div class="story__thumbnail">
              <img src="/assets/image/status-2.png" alt="">
            </div>
            <img src="assets/image/member-2.png" alt="">
            <p>People 2</p>
          </div>
          <div class="story">
            <div class="story__thumbnail">
              <img src="/assets/image/status-2.png" alt="">
            </div>
            <img src="assets/image/member-2.png" alt="">
            <p>People 2</p>
          </div>
          <div class="story">
            <div class="story__thumbnail">
              <img src="/assets/image/status-2.png" alt="">
            </div>
            <img src="assets/image/member-2.png" alt="">
            <p>People 2</p>
          </div>
        </div>
        <!-- write-post-container -->
        <div class="write-post-container">
          <div class="d-flex align-items-center">
            <img src="assets/image/profile-pic.png" alt="">
            <input type="text" placeholder="What's your mind, John?" (click)="openCreatePostDialog()">
          </div>
          <div class="separate-line"></div>
          <ul class="d-flex align-items-center">
            <li>
              <mat-icon style="color: rgb(243,66,95)">videocam</mat-icon>
              <p>Live video</p>
            </li>
            <li>
              <mat-icon style="color: rgb(69,189,98)">photo</mat-icon>
              <p>Photo/video</p>
            </li>
            <li>
              <mat-icon style="color: rgb(247,185,40)">tag_faces</mat-icon>
              <p>Feeling/activity</p>
            </li>
          </ul>
        </div>
        <div class="post-container">
          <div class="user-profile">
            <img src="assets/image/profile-pic.png" alt="">
            <div class="user-profile-name">
              <h3>John Nichoson</h3>
              <div class="d-flex align-items-center">
                <span>June 24 2021, 13:40 pm
                </span>
                <mat-icon>public</mat-icon>
              </div>
            </div>
          </div>
          <a href=""><i class="fas fa-ellipsis-v"></i></a>
          <p class="post-text">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <a href="">Where does it come from?</a>
          </p>
          <img src="assets/image/feed-image-1.png" alt="" class="post-img">
          <div class="post-react">
            <div class="post-row justify-content-between">
              <div class="post-react-left d-flex">
                <img style="z-index: 3" src="assets/react-image/like.svg" alt="">
                <img style="z-index: 2;margin-left: -5px" src="assets/react-image/love.svg" alt="">
                <img style="z-index: 1;margin-left: -5px" src="assets/react-image/care.svg" alt="">
                <div class="total-react">55K</div>
              </div>
              <div class="post-react-right d-flex">
                <div class="">5K Comments</div>
                <div class="">1.9K Shares</div>
              </div>
            </div>
            <div class="separate-line"></div>
            <ul class="react-btn">
              <li class="like-btn">
                <div #oldEle>
                  <mat-icon #oldEle>thumb_up</mat-icon>
                </div>
                <p>Like</p>
                <div class="react-box">
                  <ng-container *ngFor="let src of srcReactIcons">
                    <img #newEle [src]="src" alt="" (click)="selectNewReact(oldEle,newEle)">
                  </ng-container>
                </div>
              </li>
              <li class="comment-btn" (click)="isShowComments=!isShowComments">
                <mat-icon> chat_bubble</mat-icon>
                <p>Comment</p>
              </li>
              <li class="share-btn">
                <mat-icon>share</mat-icon>
                <p>Share</p>
              </li>
            </ul>
          </div>
          <ng-container *ngIf="isShowComments">
            <div class="separate-line"></div>
            <div class="post-row">
              <img class="comment-avatar" src="assets/image/profile-pic.png" alt="">
              <div class="comment-box d-flex">
                <input #post1Id type="text" placeholder="Write a comment...">
                <div class="activate">
                  <i class="emoji"></i>
                  <i class="photo"></i>
                  <i class="sticker"></i>
                </div>
              </div>
            </div>
            <ul class="comment-list">
              <ng-container *ngFor="let comment of commentTree;index as i">
                <ul class="comment-item">
                  <div class="comment-line parent-comment-line">
                  </div>
                  <!-- Comment detail of parent-->
                  <div class="comment-detail comment-parent">
                    <div class="comment-detail__wrapper-img comment-detail__wrapper-img--parent">
                      <img src="assets/image/profile-pic.png" alt="">
                    </div>
                    <div class="comment-detail__wrapper-info">
                      <div class="comment-detail__info comment-detail__info--background">
                        <p class="">{{comment.user.name}}</p>
                        <div class="comment-content">{{comment.content}}</div>
                      </div>
                      <div class="comment-detail__react">
                        <div class="comment-detail__react-like">
                          <div class="react-like">Like
                          </div>
                          <div class="react-box">
                            <ng-container *ngFor="let src of srcReactIcons">
                              <img [src]="src" alt="">
                            </ng-container>
                          </div>
                        </div>
                        <div class="comment-detail__react-reply"
                          (click)="onClickRepUser(comment.user.name, rootReplyInput)">
                          Reply</div>
                        <label class="comment-detail__react-time">11h</label>
                      </div>
                    </div>
                  </div>
                  <!-- Child comment -->
                  <ng-container *ngFor="let childComment of comment.comments">
                    <ul class="comment-item comment-child">
                      <div class="comment-line child-comment-line"></div>
                      <div class="comment-detail">
                        <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                          <div class="comment-link"></div>
                          <img src="assets/image/profile-pic.png" alt="">
                        </div>
                        <div class="comment-detail__wrapper-info">
                          <div class="comment-detail__info comment-detail__info--background">
                            <p class="">{{childComment.user.name}}</p>
                            <div class="comment-content">{{childComment.content}}</div>
                          </div>
                          <div class="comment-detail__react">
                            <div class="comment-detail__react-like">Like
                              <div class="react-box">
                                <ng-container *ngFor="let src of srcReactIcons">
                                  <img [src]="src" alt="">
                                </ng-container>
                              </div>
                            </div>
                            <div class="comment-detail__react-reply"
                              (click)="onClickRepUser(childComment.user.name, childReplyInput)">Reply</div>
                            <label class="comment-detail__react-time">11h</label>
                          </div>
                        </div>
                      </div>
                      <!-- Leaf child comment -->
                      <ng-container *ngFor="let c of childComment.comments">
                        <li class="comment-item comment-sibling">
                          <div class="comment-detail">
                            <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                              <div class="comment-link"></div>
                              <img src="assets/image/profile-pic.png" alt="">
                            </div>
                            <div class="comment-detail__wrapper-info">
                              <div class="comment-detail__info comment-detail__info--background">
                                <p class="">{{c.user.name}}</p>
                                <div class="comment-content">{{c.content}}</div>
                              </div>
                              <div class="comment-detail__react">
                                <div class="comment-detail__react-like">Like
                                  <div class="react-box">
                                    <ng-container *ngFor="let src of srcReactIcons">
                                      <img [src]="src" alt="">
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="comment-detail__react-reply"
                                  (click)="onClickRepUser(c.user.name, childReplyInput)">Reply</div>
                                <label class="comment-detail__react-time">11h</label>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ng-container>
                      <!-- COMMENT INPUT -->
                      <ul class="comment-item comment-sibling">
                        <div class="comment-detail">
                          <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                            <div class="comment-link"></div>
                            <img src="assets/image/profile-pic.png" alt="">
                          </div>
                          <div class="comment-box d-flex">
                            <input #childReplyInput type="text" placeholder="Write a comment...">
                            <div class="activate">
                              <i class="emoji"></i>
                              <i class="photo"></i>
                              <i class="sticker"></i>
                            </div>
                          </div>
                        </div>
                      </ul>
                    </ul>
                  </ng-container>
                  <!-- COMMENT INPUT -->
                  <ul class="comment-item comment-child">
                    <div class="comment-detail">
                      <div class="comment-detail__wrapper-img comment-detail__wrapper-img--child">
                        <div class="comment-link"></div>
                        <img src="assets/image/profile-pic.png" alt="">
                      </div>
                      <div class="comment-box d-flex">
                        <input #rootReplyInput type="text" placeholder="Write a comment...">
                        <div class="activate">
                          <i class="emoji"></i>
                          <i class="photo"></i>
                          <i class="sticker"></i>
                        </div>
                      </div>
                    </div>
                  </ul>
                </ul>
              </ng-container>
              <div class="view-more-box d-flex justify-content-between align-items-center">
                <p class="font-weight-600">View more comments</p>
                <p>12 of 3,711</p>
              </div>
              <div class="write-a-comment d-flex justify-content-between align-items-center">
                <p class="font-weight-600" (click)="navigateTo(post1Id)">Write a comment...</p>
              </div>
            </ul>
          </ng-container>
        </div>
        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="assets/image/profile-pic.png" alt="">
              <div class="">
                <p>John Nichoson</p>
                <span>June 24 2021, 13:40 pm</span>
              </div>
            </div>
            <a href=""><i class="fas fa-ellipsis-v"></i></a>
          </div>
          <p class="post-text">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <a href="">Where does it come from?</a>
          </p>
          <img src="assets/image/feed-image-2.png" alt="" class="post-img">
          <div class="post-row">
            <div class="activity-icons">
              <div><img src="assets/image/like-blue.png" alt="">120</div>
              <div><img src="assets/image/comments.png" alt="">45</div>
              <div><img src="assets/image/share.png" alt="">20</div>
            </div>
            <div class="post-profile-icon">
              <img src="assets/image/profile-pic.png" alt="">
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
        </div>
        <div class="post-container">
          <div class="post-row">
            <div class="user-profile">
              <img src="assets/image/profile-pic.png" alt="">
              <div class="">
                <p>John Nichoson</p>
                <span>June 24 2021, 13:40 pm</span>
              </div>
            </div>
            <a href=""><i class="fas fa-ellipsis-v"></i></a>
          </div>
          <p class="post-text">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
            , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            <a href="">Where does it come from?</a>
          </p>
          <img src="assets/image/feed-image-3.png" alt="" class="post-img">
          <div class="post-row">
            <div class="activity-icons">
              <div><img src="assets/image/like-blue.png" alt="">120</div>
              <div><img src="assets/image/comments.png" alt="">45</div>
              <div><img src="assets/image/share.png" alt="">20</div>
            </div>
            <div class="post-profile-icon">
              <img src="assets/image/profile-pic.png" alt="">
              <i class="fas fa-caret-down"></i>
            </div>
          </div>
        </div>

        <button class="load-more-btn">Load more</button>


      </div>
    </div>
    <!-- ----------right-sidebar---------- -->
    <div class="right-sidebar">
      <div class="right-sidebar__content">
        <div class="sidebar-title">
          <h4>Events</h4>
          <a href="">See All</a>
        </div>
        <div class="event">
          <div class="left-event">
            <h3>18</h3>
            <span>March</span>
          </div>
          <div class="right-event">
            <h4>Social Media</h4>
            <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
            <a href="">More Info</a>
          </div>
        </div>
        <div class="event">
          <div class="left-event">
            <h3>22</h3>
            <span>June</span>
          </div>
          <div class="right-event">
            <h4>Mobile Marketing</h4>
            <p><i class="fa-solid fa-location-dot"></i> Willson Tech Park</p>
            <a href="">More Info</a>
          </div>
        </div>

        <div class="sidebar-title">
          <h4>Advertisement</h4>
          <a href="">Close</a>
        </div>
        <img src="assets/image/advertisement.png" alt="" class="sidebar-ads">

        <div class="sidebar-title">
          <h4>Conversation</h4>
          <a href="">Hide Chat</a>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
        <div class="online-list">
          <div class="online">
            <img src="assets/image/member-1.png" alt="">
          </div>
          <p>Alison Mina</p>
        </div>
      </div>
    </div>
  </div>
  <!-- story-full -->
  <div class="story-full" style="display: none">
    <div class="content-wrap">
      <div class="story-content">
        <div class="story-upload-container">
          <div class="story-upload">
            <div class="left-arrow-wrap">
              <div class="left-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff"
                  stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#9e9d9d" d="M15 19l-7-7 7-7" />
                </svg>
              </div>
            </div>
            <img src="assets\image\feed-image-4.png" alt="" />
            <div class="right-arrow-wrap">
              <div class="right-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff"
                  stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke="#9e9d9d" d="M9 5l7 7-7 7" />
                </svg>
              </div>
            </div>
            <div class="my-progress-bar">
              <div class="my-progress-bar__list">
                <div class="my-progress-bar__item">
                  <div class="my-progress-bar__live"></div>
                </div>
                <div class="my-progress-bar__item">
                </div>
                <div class="my-progress-bar__item">
                </div>
              </div>
              <div class="my-progress-bar__more">
                <div class="my-progress-bar__user-info">
                  <img src="assets\image\feed-image-4.png" alt="">
                  <div>Huỳnh Văn Phát Huỳnh Văn PhátHuỳnh Văn PhátHuỳnh Văn Phát</div>
                  <p>16g</p>
                </div>
                <div class="my-progress-bar__tool">
                  <i class="play-btn"></i>
                  <i class="speaker-btn un-mute"></i>
                  <i class="more-btn"></i>
                </div>
              </div>
            </div>
            .
          </div>
        </div>
        <div class="story-react-container">
          <div class="story-react__reply-box">
            <input (click)="focusReplyBox($event)" class="story-react__input" type="text" placeholder="Reply...">
            <i disabled class="send-btn"></i>
          </div>
          <div class="story-react__react-box react-box">
            <ng-container *ngFor="let src of srcReactIcons">
              <img #newEle [src]="src" alt="" (click)="selectNewReact(oldEle,newEle)">
            </ng-container>
          </div>
        </div>
      </div>
      <div class="story-list-wrap">
        <div class="close-btn-wrap">
          <mat-icon class="close-btn">close</mat-icon>
        </div>
        <div class="stories-container">
          <div class="story-creation-wrap">
            <h2 style="margin: 0">Your Story</h2>
            <div class="story-creation">
              <div class="story-wrap story-wrap--grey-bg d-flex justify-content-center align-items-center">
                <mat-icon>add</mat-icon>
              </div>
              <div class="story-info">
                <h3>Create a story</h3>
                <span>Share a photo or write something</span>
              </div>
            </div>
          </div>
          <div class="stories__list">
            <h2 style="margin: 0">All stories</h2>
            <div class="stories__item stories__item--selected">
              <div class="story-wrap story-wrap--old">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
            <div class="stories__item">
              <div class="story-wrap story-wrap--new">
                <img src="assets\image\member-1.png">
              </div>
              <div class="story-info">
                <h3>Cường Nguyễn</h3>
                <span>6h</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end story-full -->
</div>
