<div class="container">
    <h2 class="header">Cài đặt tài khoản chung</h2>
    <div class="main">
        <div class="grid">
            <div class="row no-gutters">
                <div class="col l-4 m-4 c-4 font-weight-550">Tên</div>
                <div class="col l-6 m-6 c-6">Huỳnh Gia Huy</div>
                <div class="col l-2 m-2 c-2 primary-color">Chỉnh sửa</div>
            </div>
            <div class="row no-gutters">
                <div class="col l-4 m-4 c-4 font-weight-550">Liên hệ</div>
                <div class="col l-6 m-6 c-6">Email chính <span class="font-weight-550">huynhgiahuy492@gmail.com</span></div>
                <div class="col l-2 m-2 c-2 primary-color">Chỉnh sửa</div>
            </div>
            <div class="row no-gutters">
                <div class="col l-4 m-4 c-4 font-weight-550">Số điện thoại</div>
                <div class="col l-6 m-6 c-6">0776425942</div>
                <div class="col l-2 m-2 c-2 primary-color">Chỉnh sửa</div>
            </div>
        </div>
    </div>
</div>