.container{
    min-width: 750px;
}
.container .header{
    font-size: 1.4rem;
    font-weight: 550;
}
.container .main{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.row{
    cursor: pointer;
    margin: 20px 0
}