/* Author post */
.author-post__list {}

.author-post__item {
    margin: 10px 0;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.author-post__content {
    padding: 10px
}

.author-post__content .author-post__title {
    font-weight: 550;
    overflow: hidden;
    white-space: nowrap;
}

.author-post__content .author-post__bio {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.author-post__item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
}