<div class="header grid">
    <div class="row no-gutters">
        <div class="col l-3">
            <h1 class="font-weight-550">Chat</h1>
        </div>
        <!-- <div class="col col-3">
        </div> -->
    </div>
    <div class="row  no-gutters">
        <div class="col l-12">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search Message">
            </div>
        </div>
    </div>
</div>
<ul class="chat-user__list">
    <li class="chat-user__item row c-no-gutters">
        <img src="assets/image/member-1.png" alt="" class="user-avatar">
        <div class="current-chat hide-on-mobile hide-on-tablet">
            <div class="current-chat__username">Huỳnh Gia Huy</div>
            <div class="current-chat__detail">You: Hello Hello !</div>
        </div>
        <div class="check">
            <i class="fa-solid fa-circle-check hide-on-mobile hide-on-tablet"></i>
        </div>
    </li>
    <li class="chat-user__item row c-no-gutters">
        <img src="assets/image/member-1.png" alt="" class="user-avatar">
        <div class="current-chat hide-on-mobile hide-on-tablet">
            <div class="current-chat__username">Huỳnh Gia Huy</div>
            <div class="current-chat__detail">You: Hello Hello !</div>
        </div>
        <div class="check">
            <i class="fa-solid fa-circle-check hide-on-mobile hide-on-tablet"></i>
        </div>
    </li>
    <li class="chat-user__item row c-no-gutters">
        <img src="assets/image/member-1.png" alt="" class="user-avatar">
        <div class="current-chat hide-on-mobile hide-on-tablet">
            <div class="current-chat__username">Huỳnh Gia Huy</div>
            <div class="current-chat__detail">You: Hello Hello !</div>
        </div>
        <div class="check">
            <i class="fa-solid fa-circle-check hide-on-mobile hide-on-tablet"></i>
        </div>
    </li>
    <li class="chat-user__item row c-no-gutters">
        <img src="assets/image/member-1.png" alt="" class="user-avatar">
        <div class="current-chat hide-on-mobile hide-on-tablet">
            <div class="current-chat__username">Huỳnh Gia Huy</div>
            <div class="current-chat__detail">You: Hello Hello !</div>
        </div>
        <div class="check">
            <i class="fa-solid fa-circle-check hide-on-mobile hide-on-tablet"></i>
        </div>
    </li>
</ul>