@import "./assets/styles/base.scss";
@import "./assets/styles/grid-customize.scss";
@import "./assets/styles/responsive.scss";
@import "./assets/styles/animation.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.show {
  display: block;
}

.hidden {
  display: none 
}
i {
  color: #575758;
  font-size: 1.4rem;
}

.p-0 {
  padding: 0
}
.pd-5{
  padding: 5px
}
.pd-10{
  padding: 5px
}
.pd-t-10{
  padding: 5px
}
.pd-b-10{
  padding: 10px
}
.pd-l-5{
  padding-left: 5px
}
.pd-r-5{
  padding-right: 5px
}
.pd-10{
  padding: 10px
}

.mr-0 {
  margin: 0
}

.mr-t-10 {
  margin-top: 10px;
}
.mr-b-10 {
  margin-bottom: 10px;
}

.mr-r-10 {
  margin-right: 10px;
}

.mr-r-5 {
  margin-right: 5px;
}

.mr-10 {
  margin: 10px
}

/* customize indigo */
.mat-typography h1 {
  font-weight: 550;
}

.mat-form-field {
  border-radius: 10px;
  overflow: hidden;
}

.mat-form-field  .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
  display: flex;
  align-items: center;
}
.mat-form-field-underline {
  bottom: unset;
  width: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  width: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
}
/* radio button */
.mat-radio-outer-circle {
  border-color: var(--primary-color--);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--primary-color--);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--primary-color--);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple {
  background-color: var(--primary-color--);
  ;
}

.mat-radio-button .mat-radio-ripple {
  left: calc(50% - 15px) !important;
  top: calc(50% - 15px) !important;
  height: 30px !important;
  width: 30px !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: var(--primary-color--) !important;
  /* change click effect color */
}
.mat-button-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* customize indigo  */

.mat-icon {
  font-size: 1.6rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.circle-bg {
  border-radius: 50%;
  padding: 5px;
}

.circle-bg:hover {
  background-color: var(--hover-color--);
}

.separate-line {
  width: 100%;
  border-bottom: 2px solid #ccc;
  margin: 5px 0;
}

.primary-color {
  color: var(--primary-color--)
}

/* COMMENT LIST */

.comment-box {
  display: flex;
  align-self: center;
  border-radius: 30px;
  background-color: var(--background-color--);
  flex-grow: 1;
  align-items: center;
  margin-left: 10px;
}

.comment-box.bg-cl {
  background-color: var(--background-color--);
}

.comment-box.bg-cl-1 {
  background-color: var(--background-color-1--);
}

.comment-box .activate {
  display: flex;
  align-items: center;
}

.comment-box .activate i {
  background-size: 26px 750px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;
}

.activate i {
  cursor: pointer;
}

.comment-box .activate .emoji {
  background-image: url("/assets/bg-img/GIS-Sbi9VjZ.png");
  background-position: 0px -468px;
}

.comment-box .activate .photo {
  background-image: url("/assets/bg-img/GIS-Sbi9VjZ.png");
  background-position: 0px -414px;
}

.comment-box .activate .sticker {
  background-image: url("/assets/bg-img/GIS-Sbi9VjZ.png");
  background-position: 0px -576px;
}

.comment-box input {
  background-color: transparent;
  flex: 1;
  padding: 10px 0;
  margin-left: 15px;
}

.comment-list {
  padding: 10px;
}

.comment-item {
  margin: 10px 0;
  position: relative;
}

.comment-line {
  position: absolute;
  border-left: 2px solid #ccc;
}

.parent-comment-line.comment-line {
  height: calc(100% - 85px);
  top: 45px;
  left: 20px;
}

.child-comment-line.comment-line {
  height: calc(100% - 75px);
  top: 35px;
  left: 15px;
}

.comment-detail {
  display: flex;
  position: relative;
}

.comment-link {
  position: absolute;
  width: 85%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  top: -50%;
  left: -100%;
}

.comment-child {
  margin-left: 50px;
}

.comment-sibling {
  margin-left: 45px;
}

.comment-detail__wrapper-img {
  position: relative;
}

.comment-detail__wrapper-img--parent {
  width: 40px;
  height: 40px;
}

.comment-detail__wrapper-img--child {
  width: 30px;
  height: 30px;
}

.comment-detail__wrapper-img img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  cursor: pointer;
}

.comment-detail .comment-detail__wrapper-info {
  margin-left: 10px;
}

.comment-detail__info {
  border-radius: 20px;
  padding: 10px;
}

.comment-detail__info p {
  cursor: pointer;
}

.comment-detail__info p:hover {
  text-decoration: underline;
}

.comment-detail__info.comment-detail__info--background {
  background-color: var(--background-color--);
}

.comment-detail__info.comment-detail__info--background-1 {
  background-color: var(--background-color-1--);
}

.comment-detail__react {
  display: flex;
  align-items: center;
  position: relative;
}

.react-box {
  border-radius: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0px;
  border: 1px solid #ccc;
  background-color: var(--background-color-1--);
  display: none;
  opacity: 0;
  /* animation: react-name 0.3s linear forwards; */
}

.like-btn {
  position: relative;
}

.like-btn:hover {
  border-radius: 5px;
}

.like-btn-icon-wrap {
  display: flex;
  align-items: center;
}


.react-btn__list .react-btn__item .react-box,
.comment-detail__react-like .react-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-50%);
}

.react-btn__list .react-btn__item:hover .react-box,
.comment-detail__react-like:hover .react-box {
  animation: fadeInAndFloatUp 0.1s linear 1s forwards;
  display: flex;
}

.react-box--hidden {
  visibility: hidden !important;
}

.react-box img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin: 0 4px;
  transform: translateZ(0);
  transition: transform 300ms;
  transform-origin: bottom;
}

.react-box img:hover {
  transform: scale(1.3);
}

.comment-detail__react .comment-detail__react-like,
.comment-detail__react-reply {
  position: relative;
  margin: 0 10px !important;
  cursor: pointer;
  font-weight: 600;
}

.react-like:hover {
  text-decoration: underline;
}

.comment-detail .comment-detail__wrapper-info p {
  font-weight: 600;
  margin: 0;
}

.view-more-box p:first-child:hover {
  text-decoration: underline;
}

.write-a-comment {}

.write-a-comment p:first-child:hover {
  text-decoration: underline;
  background-color: var(--hover-color--);
}

/* END COMMENT LIST */
/* NOTIFY */
.notification {
  width: 360px;
  max-height: 630px;
  position: absolute;
  top: 110%;
  right: 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0px 5px 0px #ccc;
  background-color: var(--background-color--);
  transform-origin: top right;
  overflow-y: auto;
  display: none;
}

.notification__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px
}

.notification__title .mess-search-box {
  border-radius: 30px;
  background-color: var(--background-color-1--);
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px
}

.notification__title .mess-search-box input {
  flex: 1;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 0 10px
}

.notification__title:first-child {
  box-shadow: 0 2px 2px -2px #ccc
}


.notification__title h3,
h1 {
  margin: 0;
  font-weight: 600;
}

.notification__title .more-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__title .more-btn:hover {
  background-color: var(--hover-color--);
}

.notification__title .more-btn i {
  background-image: url("/assets/bg-img/gDgEYvVGhpx.png");
  background-position: -22px -96px;
  background-size: 190px 150px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}


.notification__title h1 {
  font-weight: bold;
}

.img-wrap {}

.img-wrap img {
  width: 55px;
  height: 55px;
  border-radius: 100rem;
}

.content-wrap {
  margin: 0 10px;
  flex: 1;
  line-height: 10px;
}

.content-wrap .main-content .username {
  font-weight: 550;
  font-size: 1.4rem;
  letter-spacing: 1px;
}


.main-content h3 {
  font-size: 1.4rem;
  font-weight: 550;
  display: inline-block;
  margin: 0;
  line-height: 1.1;
}


.sub-contain span,
label {
  font-size: 1.2rem;
}

.sub-contain span {
  color: var(--primary-color--);
}

.sub-contain label:nth-child(2) {
  padding: 5px
}

.more-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-notify {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: var(--primary-color--);
}

.online {
  position: relative;
}

.online::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #41bd51;
  position: absolute;
  top: 2px;
  right: 0;
}

.notification__left {
  display: flex;
  align-items: center;
}

.notification__left-wrapper {
  background: var(--background-color-1--);
  border-radius: 50%;
  padding: 5px
}

.notification__left-wrapper mat-icon {
  font-size: 2.2rem
}

.notification li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 0 !important
}

.notification li:hover {
  background-color: var(--hover-color--);
}

.notification li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.notification__main {
  flex: 1;
  margin: auto 10px;
}

.notification__main h4 {
  margin: 0;
  font-weight: 600;
}

.notification__main p {
  margin: 0
}

.notification__left-wrapper {}

.notification__right {
  display: flex;
  align-items: center;
}

.settings-menu {
  display: none;
  position: absolute;
  width: 90%;
  max-width: 350px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 100px;
  right: 5%;
}

/* list image */
.review-post__list .row{
  height: 100%;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
}
.review-post__list .col{
  padding-left: 2px;
  padding-right: 2px;
}
.review-post__item{
  margin-bottom: 20px;
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.review-post__item:last-child{
  margin-bottom: unset;
}
.post-container .review-post__image{
padding: 10px 0
}
.image__list {
  height: 400px;
}
.image__list .row{
height: 100%;
margin-left: unset;
margin-right: unset
}
.image__list .col{
padding-left: 2px;
padding-right: 2px
}
.image__list .row .col:first-child{
padding-left: unset;
}
.image__list .row .col:last-child{
padding-right: unset
}

.image__list.one,
.image__list.two {
  height: 300px;
}

.image__list .image__item {
  width: 100%;
  height: 100%;
}


.image__list .image__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__list.three .row .col,
.image__list.four .row .col,
.image__list.five .row .col {
  width: 100%;
  height: 100%;
}

.image__list.three .row:first-child,
.image__list.four .row:first-child,
.image__list.five .row:first-child {
  width: 100%;
  height: 60%;
  padding-bottom: 4px;
}

.image__list.three .row:last-child,
.image__list.four .row:last-child,
.image__list.five .row:last-child {
  width: 100%;
  height: 40%;
}

.height-50per {
  height: 50%;
}
.review-post__description{
  padding: 20px;
}
.review-post__description .title{
  font-size: 2.4rem;
  font-weight: 550;
  color: var(--primary-color--);
}
.image__item .image__item--overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.image__item .image__item--overlay span{
  font-size: 2.4rem;
  font-weight: 550;
  color: var(--white-color--)
}
/* slider */
/* action list */
.action__list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.action__list .action__item{
}
.action__list .action__item:first-child{
  margin-left: unset
}
.action__list .action__item:last-child{
  margin-right: unset
}
/* cover image */
.cover {
  height: 450px;
}

/* init cover image */
.cover .init-cover-image {
  height: 100%;
  position: relative;
}

.cover .init-cover-image .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color--);
  cursor: pointer;
}

.cover .init-cover-image .content .content__image-logo {
  position: relative;
}

.cover .init-cover-image .content .content__image-logo i {
  font-size: 5rem;
  color: var(--white-color--);
}

.cover .init-cover-image .content .content__image-logo i:hover {
  color: var(--hover-color--);
}

.cover .init-cover-image .content .content__text {}

.cover .init-cover-image .content .content__text h1 {
  font-size: 3rem;
}

.cover .init-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* cover image */
.cover .cover-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.cover .cover-image .cover-image__action {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.cover .cover-image .cover-image__action::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  right: 0;
  top: 100%;
}

.cover .cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#edit-cover-image-btn {
  position: relative;
}

#edit-cover-image-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.cover-image__action-select {
  position: absolute;
  width: 345px;
  padding: 10px;
  border-radius: 5px;
  top: 125%;
  right: 0;
  background-color: var(--white-color--);
  display: none;
}
.cover-image__action-select.show{
  display: block;
}

.cover-image__action-option {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.cover-image__action-option span {
  flex: 1;
}

.cover-image__action-option:hover {
  background: var(--hover-color--);
}

.standard__list{
  display: flex;
}
.standard__list.no-wrap{
  flex-wrap: nowrap;
}
.standard__list.wap{
  flex-wrap: nowrap;
}
.standard__item{
  margin: 0 5px;
  position: relative
}

.standard__item:first-child{
  margin-left: unset
}
.standard__item:last-child{
  margin-right: unset
}
.standard__item.flex-fit{
  flex-basis: 100%;
}
.standard__item>.user-avatar{
  width: 96px;
  height: 96px;
  border-radius: 50%;
}
.standard__item .username{
  font-size: 2.4rem;
  font-weight: 550;
}


/* User info notify */
.user-info-notify{
  width: 400px;
  position: absolute;
}

/* Rating */
.clearfix {
  clear:both;
}

.text-center {text-align:center;}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}

pre {
display: block;
padding: 9.5px;
margin: 0 0 10px;
font-size: 13px;
line-height: 1.42857143;
color: #333;
word-break: break-all;
word-wrap: break-word;
background-color: #F5F5F5;
border: 1px solid #CCC;
border-radius: 4px;
}

.header {
  padding:20px 0;
  position:relative;
}

.header h4 {
  font-size:2rem;
  font-weight:550;
  margin-bottom:0.2em;
}

.header p {
  font-size:14px;
}



#a-footer {
  margin: 20px 0;
}

.new-react-version {
  padding: 20px 20px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.new-react-version .react-svg-logo {
  text-align: center;
  max-width: 60px;
  margin: 20px auto;
  margin-top: 0;
}





.success-box {
  margin:50px 0;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
}

.success-box img {
  margin-right:10px;
  display:inline-block;
  vertical-align:top;
}

.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}



/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul{
  display: inline-block;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
/* User profile */
.user-profile {
  display: flex;
  align-items: center;
}

.user-profile .user-info{
  flex: 1

}
.user-profile .user-info {
  flex: 1
}
.user-profile .more-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}
.user-profile .more-btn .notification__list{
  background-color: var(--white-color--);
  z-index: 9999;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 115%;
  width: 350px;
  display: none;
}
.user-profile .more-btn .notification__list.show{
  display: block;
}
.user-profile .more-btn .notification__list .notification__item{
  padding: inherit;
  border-radius: inherit;
  font-weight: 550;
}
.user-profile .more-btn .notification__list .notification__item:hover{
  background: var(--hover-color--);
}



.user-profile .more-btn:hover{
  background-color: var(--hover-color--);
}
.user-profile .more-btn i{
  font-size: 2rem;
}

.user-profile .user-info .username{
  position: relative;
  font-weight: 550;
}

.user-profile .user-info .username:hover {
  text-decoration: underline;
}

.user-profile .user-info .sub-info {
  font-size: 13px;
  color: #9a9a9a;
}
.user-profile .user-info .sub-info.user-role {
  color: var(--primary-color--);
  background: var(--primary-background--);
  padding: 2px;
  border-radius: 3px;
}

/* user avatar */
.user-profile .user-avatar {
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.user-profile .user-avatar .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

