.header {
    position: sticky;
    top: 0;
    height: 60px;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
}

.chat-user__item {
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 10px
}

.chat-user__item .user-avatar {
    height: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
    border: 0.5px solid #ccc;
    margin-right: 10px
}

.chat-user__item .current-chat {
    flex: 1;
}

.current-chat .current-chat__username {
    font-weight: 550;
    white-space: nowrap;
}

.chat-user__item:hover {
    background-color: var(--hover-color--);
}

.option__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px
}

.option__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.option__item:hover {
    background-color: var(--hover-color--);
}

.option__item i {
    font-size: 1.8rem;
}

.main {
    min-height: calc(100% - 50px - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

.footer {
    position: sticky;
    bottom: 0;
    height: 60px;
    padding: 5px;
}

.footer .chat-input {
    display: flex;
    align-items: center;
}

.footer .chat-input .chat-input__box {
    flex: 2;
    padding: 10px;
    background-color: rgb(243, 243, 245);
    border-radius: 30px;
    display: flex;
    align-items: center;
    min-width: 100px
}

.footer .chat-input .chat-input__box input {
    flex: 1;
    background: transparent;
    font-size: 1.4rem;
}
