<div class="header grid">
    <div class="row no-gutters">
        <div class="col l-2 m-4 c-6">
            <div class="chat-user__item">
                <img src="assets/image/member-1.png" alt="" class="user-avatar">
                <div class="current-chat">
                    <div class="current-chat__username">
                        Huỳnh Gia Huy
                    </div>
                </div>
            </div>
        </div>
        <div class="col l-2 l-o-8 m-4 m-o-4 c-6">
            <ul class="option__list">
                <div class="option__item">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="option__item">
                    <i class="fa-solid fa-video"></i>
                </div>
                <div class="option__item">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="main">

</div>
<div class="footer">
    <div class="chat-input">
        <ul class="option__list">
            <div class="option__item">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="option__item">
                <i class="fa-solid fa-image"></i>
            </div>
            <div class="option__item">
                <i class="fa-solid fa-note-sticky"></i>
            </div>
            <div class="option__item">
                <i class="fa-solid fa-face-grimace"></i>
            </div>
        </ul>
        <div class="chat-input__box">
            <input type="text" placeholder="Aa">
        </div>
        <ul class="option__list">
            <div class="option__item">
                <i class="fa-solid fa-thumbs-up"></i>
            </div>
        </ul>
    </div>
</div>