<div class="grid">
  <div class="main pd-10">
    <div class="d-flex day-action">
      <div class="mr-r-10">
        <button mat-raised-button (click)="addTab()" class="primary-color-btn">
          Thêm ngày mới
        </button>
      </div>
      <button
        mat-raised-button
        class="example-delete-tab-button"
        [disabled]="tabs.length === 1"
        (click)="removeTab(initialDay)"
      >
        Xóa ngày
      </button>
    </div>
    <mat-tab-group
      [selectedIndex]="initialDay"
      (selectedIndexChange)="selectedIndexChange($event)"
    >
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        <div class="row no-gutters step__list">
          <div class="step__item col l-6">
            <h1 class="step__title">Chọn địa điểm khám phá</h1>
            <div class="d-flex">
              <mat-form-field appearance="fill" class="mr-r-10">
                <mat-label>Chọn địa điểm dựa trên</mat-label>
                <mat-select [formControl]="placeChoiceMethodCtrl">
                  <mat-option value="1">Địa điểm có sẵn</mat-option>
                  <mat-option value="2">Tìm kiếm từ bản đồ</mat-option>
                </mat-select>
              </mat-form-field>
              <div
                class="row no-gutters flex-fit"
                *ngIf="placeChoiceMethodCtrl.value"
              >
                <div class="col l-12" *ngIf="placeChoiceMethodCtrl.value == 1">
                  <mat-form-field appearance="fill" class="w-fit">
                    <mat-label>Chọn tỉnh thành phố</mat-label>
                    <mat-select [formControl]="provinceCtrl">
                      <mat-option value="1">An giang</mat-option>
                      <mat-option value="2">Thành phố Hồ Chí Minh</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col l-12">
                  <div
                    class="field d-flex align-items-center"
                    *ngIf="placeChoiceMethodCtrl.value == 2"
                  >
                    <i class="fa-solid fa-magnifying-glass mr-r-10"></i>
                    <input
                      #searchPlaceInput
                      type="text"
                      placeholder="Tìm kiếm"
                      [formControl]="searchedPlaceCtrl"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="content" *ngIf="placeChoiceMethodCtrl.value">
              <div
                class="content-place__list row mr-0"
                *ngIf="
                  placeChoiceMethodCtrl.value == 1 &&
                  (provincePlaces$ | async) as provincePlaces
                "
              >
                <div
                  class="col l-4"
                  *ngFor="let provincePlace of provincePlaces"
                >
                  <div class="content-place__item box-shadow" (click)="selectExistProvincePlace(provincePlace)">
                    <div class="content-place__image-wrap">
                      <img
                        class="place-image-detail"
                        src="assets/image/place-1.jpg"
                        alt=""
                      />
                    </div>
                    <div class="place-name">
                      <h4>{{ provincePlace.name }}</h4>
                      <p>
                        <span class="primary-color">
                          {{ provincePlace.arrivedMemberCount }}</span
                        >
                        Thành viên đã đến
                      </p>
                    </div>
                    <div class="overlay">
                      <i class="fa-solid fa-circle-plus"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="content-map w-fit h-fit"
                *ngIf="
                  placeChoiceMethodCtrl.value == 2 && searchedPlaceCtrl.value
                "
              >
                <div
                  class="autocomplete__list box-shadow"
                  *ngIf="placeAutocompleteResponse"
                >
                  <div
                    class="autocomplete__item"
                    *ngFor="
                      let prediction of placeAutocompleteResponse.predictions
                    "
                    (click)="selectPlaceFromAutoComplete(prediction)"
                  >
                    <span>{{ prediction.description }}</span>
                  </div>
                </div>
                <div class="map-wrap" *ngIf="haveMap">
                  <div id="map" class="w-fit h-fit"></div>
                  <div class="d-flex align-items-center justify-content-end  mr-t-10">
                    <button
                      class="primary-color-btn"
                      mat-raised-button
                      (click)="confirmPlaceMap()"
                    >
                      Xác nhận địa điểm
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="step__item col l-6">
            <h1 class="step__title">Hành trình</h1>
            <div class="timeline__list">
              <div class="timeline__item" *ngFor="let place of places">
                <div class="header" (click)="openLocationDetail()">
                  <div class="name">
                    <i class="fa-solid fa-location-dot mr-r-5"></i>
                    <span>Hồ tây DakMil</span>
                  </div>
                  <div class="option d-flex">
                    <i class="fa-solid fa-bars mr-r-10"></i>
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                </div>
                <div class="main">
                  <div class="liner"></div>
                  <button
                    mat-raised-button
                    class="route-detail-btn"
                    (click)="openRouteDetail()"
                  >
                    <i class="fa-solid fa-map-location mr-r-10"></i>
                    <span>Xem chi tiết đường đi</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
