:root {
    --header-height--: 100px;
    --day-action-height--: 40px
}
/* common */
.description-box {
    max-width: 100%;
}

/* journey */
.journey__list{
    
}
.journey__list .journey__item{
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.journey__item .journey__title{
    font-weight: 550;
}

#edit-cover-image-btn {
    position: relative;
}
#edit-cover-image-btn ::ng-deep.mat-button-wrapper{
    pointer-events: none;
}
.cover-image__action-select {
    position: absolute;
    width: 345px;
    padding: 10px;
    border-radius: 5px;
    top: 125%;
    right: 0;
    background-color: var(--white-color--);
    display: none;
}
.cover-image__action-select.show{
    display: block;
}

/*  */

/* journey-detail */
.journey-detail__list{
    padding-left: 10px;
}
.journey-detail__list .journey-detail__item{
}
/*  */
/* journey cost list */
.journey-cost__list{
}
.day-action {
    height: var(--day-action-height--);
}

.step__list {}

.step__item {}

.step__item .step__title {
    margin: 0
}
/* content */
.step__item .content {
    height: auto;
    overflow-y: auto;
}
/* content-place */
.content-place__list {}

.content-place__item {
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    max-height: 300px;
    min-height: 300px;
    position: relative;
}
.content-place__item h4, .content-place__item p{
    margin: 0
}
.content-place__item .overlay{
  display: none
}
.content-place__item .overlay i{
    color: white;
    font-size: 3rem
}
.content-place__item:hover .overlay {
    display: flex
}
.content-place__item h4 {
    font-weight: 550;
}

.content-place__item .content-place__image-wrap {
    position: relative;
}

.content-place__item .content-place__image-wrap {
    position: relative;
}

.content-place__item .content-place__image-wrap img {
    width: 100%;
    object-fit: contain;
}


.content-place__item .place-name {
    padding: 10px
}

/* content-map */

.autocomplete__list{
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.autocomplete__item{
    padding: 10px;
}
.autocomplete__item span{
    font-weight: 550;
}
.autocomplete__item:hover{
    background-color: var(--hover-color--);
}
.map-wrap{
    width: 100%;
    height: 300px;
    overflow: auto;
    position: relative;
}
.map-wrap #visit-map{
    width: 100%;
    height: 100%;
}

.map-wrap:hover #confirm-map-place-btn{
    display: inline-block;
}
.map-wrap #confirm-map-place-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}


/*  */
.timeline__list {
    padding: 10px;
}

.timeline__item {}

.timeline__item .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
}

.timeline__item .header:hover {
    background-color: var(--hover-color--);
}

.timeline__item .header .name {}

.timeline__item:last-child .main {
    display: none;
}

.timeline__item .main {
    width: 100%;
    margin: 0 auto;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    transform: translateX(3px);
}

.timeline__item .main .liner {
    border-left: 3px dotted #ccc;
    height: 100%;
}

.timeline__item .main .route-detail-btn {}
/* departure place */
#departure-place-search{
    position: relative;
}
#departure-place-search .autocomplete__list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
}