<h2 mat-dialog-title align="center" style="font-weight: 550">Chọn ảnh</h2>
<mat-dialog-content class="mat-typography" *ngIf="currUser">
    <div class="container">
        <div class="header">
            <div class="standard__list">
                <div class="standard__item flex-fit">
                    Ảnh bìa gần đây
                </div>
            </div>
        </div>
        <div class="main">
            <div class="grid">
                <div class="row">
                    <div class="col l-4" *ngFor="let currUserFileUpload of currUserFileUploads" (click)="choiceExistImage(currUserFileUpload)">
                        <img [src]="currUserFileUpload.directLink">
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->