* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0 !important;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-color--);
  padding: 50px;
}

.login-page .quen-mat-khau {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.login-page .quen-mat-khau .content {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 2px #a7575782;
          box-shadow: 0 0 15px 2px #a7575782;
}

.login-page .quen-mat-khau .content .right_header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .quen-mat-khau .content .right_header2 img {
  width: 30px;
}

.login-page .quen-mat-khau .content .right_header2 p {
  color: #23262e;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 700;
}

.login-page .quen-mat-khau .content .input_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 326px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.login-page .quen-mat-khau .content .input_data i {
  color: #23262e;
  margin-left: 15px;
}

.login-page .quen-mat-khau .content .input_data .eye {
  margin-left: 0px;
  cursor: pointer;
}

.login-page .quen-mat-khau .content .input_data input {
  width: 247px;
  margin-left: 15px;
  outline: none;
  color: #23262e;
  border: none;
}

.login-page .quen-mat-khau .content .input_data input ::-webkit-input-placeholder {
  color: red;
}

.login-page .quen-mat-khau .content .input_data input :-ms-input-placeholder {
  color: red;
}

.login-page .quen-mat-khau .content .input_data input ::-ms-input-placeholder {
  color: red;
}

.login-page .quen-mat-khau .content .input_data input ::placeholder {
  color: red;
}

.login-page .quen-mat-khau .content .buttons {
  width: 326px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.login-page .quen-mat-khau .content .buttons .login {
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #4290f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .quen-mat-khau .content .buttons .login p {
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.login-page .quen-mat-khau .content .buttons .go-back {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 11px 24px;
  border: 1px solid #23262e;
}

.login-page .quen-mat-khau .content .buttons .go-back p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
  color: #23262e;
}

.login-page .quen-mat-khau .content .buttons .go-back i {
  font-size: 17px;
  color: #23262e;
}

.login-page .quen-mat-khau .content .error {
  display: none;
  width: 326px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ff7b5c;
  font-size: 13px;
  font-weight: 600;
}

.login-page .notification {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.login-page .notification .content {
  width: 600px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 2px #a7575782;
          box-shadow: 0 0 15px 2px #a7575782;
}

.login-page .notification .content .anim {
  width: 285px;
  margin-top: 10px;
  height: 285px;
}

.login-page .notification .content .title {
  color: #23262e;
  line-height: 21px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}

.login-page .notification .content .child {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #888888;
  margin-top: 15px;
  text-align: center;
}

.login-page .notification .content .confirm {
  border: none;
  background-color: #ff7ca9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 24px;
}

.login-page .notification .content .confirm p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
  color: white;
}

.login-page .notification .content .confirm i {
  font-size: 20px;
  color: white;
}

.login-page .loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.login-page .loading .anim {
  border: 4px solid #da9696;
  border-radius: 50%;
  background: white;
  width: 300px;
  height: 300px;
}

.login-page .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  -webkit-box-shadow: 0 0 73px 10px #d7e2edd6;
          box-shadow: 0 0 73px 10px #d7e2edd6;
  border-radius: 40px;
}

.login-page .left {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 62%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.login-page .left #hinh1 {
  opacity: 1;
}

.login-page .left .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  opacity: 0;
}

.login-page .left-content {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 50%;
  color: white;
}

.login-page .left-content > div {
  margin: 40px 0;
}

.login-page .left-content > div:first-child {
  margin-top: 0;
}

.login-page .left-content > div:last-child {
  margin-bottom: 0;
}

.login-page .left-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .left-content__header img {
  width: 28px;
}

.login-page .left-content__header p {
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 10px;
}

.login-page .left-content__main {
  line-height: 1.2;
  font-weight: 500;
  font-size: 3.6rem;
  letter-spacing: 1px;
}

.login-page .left-content__action-btn {
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-color--);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .left-content__action-btn p {
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: white;
  font-weight: 550;
}

.login-page .left-content__progress-bar-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-page .left-content__progress-bar-wrap .left-content__progress-bar {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  background-color: #e2e2e25c;
  border-radius: 4px;
  height: 4px;
  overflow: hidden;
  position: relative;
}

.login-page .left-content__progress-bar-wrap .left-content__progress-bar .child {
  position: absolute;
  top: 0px;
  left: 0%;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  width: 80px;
  height: 4px;
  background: white;
}

.login-page .left-content__progress-bar-wrap .counter-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-size: 1.9rem;
  font-weight: 550;
}

.login-page .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-page .right-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.login-page .right-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.login-page .right-form__header img {
  width: 30px;
}

.login-page .right-form__header p {
  margin-left: 10px;
  font-weight: 700;
  font-size: 2.4rem;
}

.login-page .right-form__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;
}

.login-page .right-form__content .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: space-evenly; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .right-form__content .content__title p {
  color: #23262e;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}

.login-page .right-form__content .content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-page .right-form__content .content__form__input-wrap {
  width: 100%;
}

.login-page .right-form__content .content__form__input-wrap .content__form__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.login-page .right-form__content .content__form__input-wrap .content__form__input i {
  font-size: 1.6rem;
}

.login-page .right-form__content .content__form__input-wrap .content__form__input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  margin-left: 20px;
}

.login-page .right-form__content .content__form__input-wrap .content__form__input input :invalid {
  background-color: red;
}

.login-page .right-form__content .content__form__input-wrap .content__form__input--invalid {
  border-color: var(--base-cherry-color--);
}

.login-page .right-form__content .content__form__input-wrap .content__form__input-notify > p {
  color: var(--base-cherry-color--);
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccc;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password .level-password__progress-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5px;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password .level-password__progress-bar__child {
  width: 20%;
  background-color: #ccc;
  height: 100%;
  border-radius: 10px;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password .level-password__progress-bar__child--base-color {
  background-color: #ccc;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password .level-password__progress-bar__child--weak-color {
  background: #ff7b5c;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password .level-password__progress-bar__child--strong-color {
  background: #c0fe74;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password .level-password__progress-bar__child--very-strong-color {
  background: #8cff00;
}

.login-page .right-form__content .content__form__input-wrap .content__form__level-password p {
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: 600;
}

.login-page .right-form__content .content__form__input-wrap p {
  color: #a7a7a7;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 2.3rem;
}

.login-page .right-form__content .content__form__input-wrap p span {
  cursor: pointer;
  font-weight: 600;
  color: #4290f6;
}

.login-page .right-form__content .content__form .content__form__input-notify p {
  color: var(--base-cherry-color--);
}

.login-page .right-form__content .content__form__btn {
  width: 50%;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary-color--);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.login-page .right-form__content .content__form__btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.login-page .right-form__content .content__form__more-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login-page .right-form__content .content__form__more-wrap p {
  color: var(--primary-color--);
}

.login-page .right-form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--background-color-1--);
  padding: 10px 0;
}

.login-page .right-form__footer p {
  color: var(--primary-color--);
}
/*# sourceMappingURL=login.component.css.map */